/* header */
.header {
  position: relative;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
}
/* navbar */
.nav {
  position: relative;
  height: 80px;
  margin: auto;
}
.nav__logo {
  margin-right: 10px;
  font-size: 2.5rem;
  font-weight: var(--font-bold);
  white-space: nowrap;
  font-family: var(--logo-font);
}
.nav__logo a {
  color: var(--title-color);
}

strong {
  color: var(--first-color);
}

.nav__menu-content,.nav__logo{
  z-index: 10;
}

.nav__menu {
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
}

.nav__link {
  color: var(--title-color);
  white-space: nowrap;
}
.nav__list .nav__link::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--first-color);
  display: block;
  margin: auto;
  transition: width 0.3s ease-in-out;
}

.nav__list .nav__link:hover::after {
  width: 100%;
}

.nav__list .active::after {
  width: 100%;
}

.nav__item,
.nav__btn,
.nav__menu-phone {
  margin: 0 15px;
  font-weight: var(--font-medium);
  font-size: var(--h2-font-size);
}

.uil-phone {
  margin-right: 5px;
}

.nav__btn {
  text-transform: capitalize;
  padding: 4px 20px;
  border-radius: 10px;
  white-space: nowrap;
}

.nav__burger {
  cursor: pointer;
}

.nav__burger span {
  display: block;
  width: 26px;
  height: 3px;
  background-color: var(--first-color);
  transition: all 0.3s ease-in-out;
  transform-origin: 3px 1px;
}

.nav__burger span:not(:last-child) {
  margin-bottom: 5px;
}
/* MEDIA QUERYS */

@media only screen and (max-width: 1208px) {
  .nav__menu-phone {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  .hide-for-desktop {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .nav__menu,
  .nav__btns {
    display: none;
  }
  .hide-for-desktop {
    display: block;
  }
}
