.section__header-container {
  background-color: var(--first-color);
  border-radius: 0 0 50px 50px;
  position: relative;
  width: 90%;
  margin: auto;
  height: 40vh;
}

.section__header-content {
  width: 75%;
  flex-wrap: wrap;
  display: flex;
  align-content: center;
}

.section__header-title {
  font-size: 2.5rem;
  font-weight: var(--font-medium);
  color: #fff;
}
.section__header-content p {
  font-size: var(--h2-font-size);
  color: #fff;
}

.section__header-btns {
  margin-top: 25px;
  font-weight: var(--font-medium);
  font-size: var(--h2-font-size);
  width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.section__header-btn:nth-child(1) {
  margin-right: 30px;
}
.section__header-btn {
  text-transform: capitalize;
  padding: 4px 20px;
  border-radius: 10px;
  white-space: nowrap;
}

.section__header-content-img {
  width: 50%;
}
.section__header-content-img div {
  max-width: 400px;
  position: absolute;
  padding: 40px;
  border-radius: 0 0 50px 50px;
  background-color: rgba(182, 209, 252, 0.44);
}
.section__header-content_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 980px) {
  .section__header-content-img {
    display: none;
  }
  .section__header-container {
    justify-content: center;
  }
  .section__header-content {
    display: flex;
    align-content: center;
    width: 85%;
  }
  .section__header-btns {
    flex-wrap: wrap;
  }
}

.section__associated-header h2 {
  margin: 5px;
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
  width: 250px;
}
.associated-header-img {
  width: 50px;
}
.section__associated {
  margin-top: 40px;
  width: 100%;
  height: 200px;
}

.section__associated-body {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.associated-img {
  object-fit: contain;
  height: 55px;
  display: inline-block;
  margin: 20px;
}


.section__main-header{
  margin: 50px 0;
  flex-wrap: wrap;
}

.section__main-title{
  margin-right: 40px;
  font-size: var(--big-font-size);
  font-weight: var(--font-bold);
}

.section__main-subtitle{
  margin: 10px;
  width: 824px;
  font-size: var(--h3-font-size);
  font-weight: var(--font-regular);
}

.section__main-card {
  margin: 40px;
  height: 280px;
  width: 190px;
}

.section__main-card-title{
  font-size: var(--h1-font-size);
}
.section__main-card-text{
  font-size: var(--nomal-font-size);
}

.section__main-card-title, .section__main-card-text, .section__main-btn{
  margin: 8px;
}

.section__main-btn a{
  display: flex;
  align-items: center;
  font-size: var(--nomal-font-size);
  color: var(--second-color);
  
}

.section__main-btn a:hover img{
  transform: translateX(10px);
}

.section__main-btn a img{
  height: var(--small--font-size);
  padding-left: 5px;
  transition: transform 0.3s ease-in;
}

/* <footer class="section__main-footer">
        <img src="/assets/img/img-main-footer.svg" alt="medical - medical clinic">
        <p>1000+ users and joined our expert dr. has started booking</p>
        <a href="">Click Here <img src="/assets/icons/arrow-main-footer.svg" alt="click here arrow" /></a>
      </footer> */

.section__main-footer{
  margin: 50px 0;
  display: flex;
  align-items: center;
  border-radius: 40px;
  background-color: var(--first-color);
}

.section__main-footer-img{
  height: 150px;
  width: 150px;
}

.section__main-footer p{
  font-size: 2rem;
  color: #fff;
  font-weight: var(--font-medium);
}

.section__main-footer-img, .section__main-footer div{
  margin: 20px 80px;
}

.section__main-footer div{
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.section__main-footer a{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 20px;
  padding: 25px 44px;
  color: var(--first-color);
  background-color: #fff;
  font-weight: var(--font-medium);
}

/* .section__main-footer a img{
  width: 10px;

} */