@media only screen and (max-width: 400px) {
  .nav__logo {
    font-size: 10vw !important;
  }
  .nav__footer {
    font-size: 10vw !important;
  }
}
@media (max-width: 764px) {
  .news__card {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .section__home-aside {
    display: none !important;
  }
  .section__home-main{
    padding: 20px 10px !important;
  }
  .login-header {
    position: relative;
    background-color: #fff;
  }
  .login {
    flex-wrap: wrap;
  }
  .footer__header {
    align-items: center;
  }
  .section__comingsoon {
    display: none;
  }
  
}
@media (min-width: 768px) {
  .nav__logo {
    font-size: 2.5rem;
  }
  .section__comingsoon {
    display: initial;
  }
  .section__news-card {
    margin: auto;
    max-width: 500px;
  }
  .section-mobile{
    display: none !important;
  }
  
}
@media only screen and (max-width: 901px) {
  .nav__menu,
  .hide-for-mobile,
  .login__img {
    display: none !important;
  }
  .hide-for-desktop {
    display: block;
  }
  .header {
    position: initial !important;
  }
}
@media only screen and (min-width: 899px) {
  .hide-for-desktop {
    display: none;
  }
}
@media only screen and (max-width: 980px) {
  .section__home-container {
    justify-content: center;
  }
  .section__home-main {
    display: flex;
    align-content: center;
    width: 100%;
  }
  .section__home-btns {
    flex-wrap: wrap !important;
  }
  .section__home-btn {
    &:nth-child(1) {
      margin-right: 5px;
    }
  }
  /* .section__news-card {
    display: none !important;
  } */
}
@media (min-width: 992px) {
  .section__associated-body {
    justify-content: start;
  }
}
@media only screen and (max-width: 1208px) {
  .nav__menu-phone {
    display: none !important;
  }
  .register__content {
    margin: 0 !important;
  }
  /* .register__img {
    display: none !important;
  } */
}
