@media only screen and (max-width: 400px) {
  .nav__logo {
    font-size: 10vw !important;
  }
  .nav__footer {
    font-size: 10vw !important;
  }
}
@media (max-width: 764px) {
  .news__cards {
    display: none !important;
  }
  .contact__main{
    height: 125vh !important;
  }
  .contact__card{
    transform: translateX(0) !important;
    margin-top: 120px !important;
  }
}
@media (max-width: 767px) {
  .home-main{
    padding: 20px 10px !important;
  }
  .login-header {
    position: relative;
    background-color: #fff;
  }
  .login {
    flex-wrap: wrap;
  }
  .footer__header {
    align-items: center;
  }
  .news__cards-comingsoon {
    display: none;
  }
  
}
@media (min-width: 768px) {
  .nav__logo {
    font-size: 2.5rem;
  }
  .news__cards-comingsoon {
    display: initial;
  }
  .news-card {
    max-width: 500px;
  }
  .news-footer{
    display: none !important;
  }
  
}
@media only screen and (max-width: 935px) {
  .nav__menu,
  .hide-for-mobile,
  .login__img {
    display: none !important;
  }
  .home-aside {
    display: none !important;
  }
  .hide-for-desktop {
    display: block;
  }
}
@media only screen and (min-width: 936px) {
  .hide-for-desktop {
    display: none !important;
  }
}
@media only screen and (max-width: 980px) {
  .home-container {
    justify-content: center;
  }
  .home-main {
    display: flex;
    align-content: center;
    width: 100%;
  }
  .home-btns {
    flex-wrap: wrap !important;
  }
  .home-btn {
    &:nth-child(1) {
      margin-right: 5px;
    }
  }
}
@media (min-width: 992px) {
  .associated-body {
    justify-content: start;
  }
}
@media only screen and (max-width: 1208px) {
  .nav__menu-phone {
    display: none !important;
  }
  .register__content {
    margin: 0 !important;
  }
}
