@import "fonts";
@import "variables";
@import "animations";
@import "media";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; 
  ul,
  li {
    padding: 0;
  }
  &::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  &::-webkit-scrollbar-thumb {
    background: #2156aa;
  }
  font-family: $body-font;
  font-size: $normal-font-size;
  background-color: $body-color;
  color: $title-text;
  overflow-x: hidden;
}
h1 {
  color: $title-color;
  font-weight: $font-medium;
}
h2 {
  color: $title-color;
  font-weight: $font-medium;
}
h3 {
  color: $title-color;
  font-weight: $font-medium;
}
h4 {
  color: $title-color;
  font-weight: $font-medium;
}
ul {
  list-style: none;
  margin: 0 !important;
}
a {
  text-decoration: none;
  color: $title-color;
  &:hover {
    color: $title-color;
  }
}
p {
  margin: 0;
}
.relative {
  position: relative;
}
.flex {
  display: flex;
}
.flex-d_c {
  flex-direction: column;
}
.flex-jc_sb {
  justify-content: space-between;
}
.flex-jc_c {
  justify-content: center;
}
.flex-ai_c {
  align-items: center;
}
.flex-ai_fs {
  align-items: flex-start;
}
.flex-wrap {
  flex-wrap: wrap;
}
.sticky {
  position: fixed;
  position: -webkit-fixed;
  top: 0;
  z-index: $z-fixed;
}
.txt-uppercase {
  text-transform: uppercase;
}
.txt-capitalize {
  text-transform: capitalize;
}
.display-none {
  display: none;
}
.display-default {
  display: flex;
}
.btn--primary {
  background-color: #fff;
  color: $second-color;
  border: 1px solid $second-color;
  transition: background-color 0.3s ease, color 0.3s ease;
  &:hover {
    background-color: $second-color-alt;
    color: #fff;
  }
}
.btn--secondary {
  background-color: $second-color;
  color: #fff;
  border: 1px solid $second-color;
  transition: background-color 0.3s ease, color 0.3s ease;
  &:hover {
    background-color: $second-color-alt;
    color: #fff;
  }
}

$icons: (
  phone: url(../img/phone.svg),
  envelope: url(../img/envelope.svg),
  linkedin: url(../img/linkedin-alt.svg),
  facebook: url(../img/facebook-f.svg),
  twitter: url(../img/twitter-alt.svg),
  instagram: url(../img/instagram.svg),
  message: url(../img/message.svg),
  search: url(../img/search.svg),
  location: url(../img/location-pin-alt.svg),
  check: url(../img/check-square.svg),
);

.svg-config {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}

@each $key, $value in $icons {
  .svg-#{$key} {
    @extend .svg-config;
    background-image: $value;
  }
}
.nav__logo {
  color: $title-color;
  margin-right: 10px;
  font-size: 2.5rem;
  font-weight: $font-bold;
  white-space: nowrap;
  font-family: $logo-font;
  z-index: 10;
  strong {
    color: $first-color;
  }
}
.header{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 999;
  border-bottom: 1px solid #808080;
}
.nav {
  height: 80px;
  z-index: 999;
  &__menu {
    &-item {
      margin: 0 15px;
      font-weight: $font-regular;
      font-size: $h2-font-size;
      &_link {
        color: $title-color;
        align-items: center;
        white-space: nowrap;
        &::after {
          content: "";
          width: 0%;
          height: 2px;
          background-color: $first-color;
          display: block;
          margin: auto;
          transition: width 0.3s ease-in-out;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
        &.active::after {
          width: 100%;
        }
      }
    }
  }
  &__menu-phone {
    position: absolute;
    left: 0;
    padding: 0 15px;
    transform: translateX(-100%);
    font-weight: $font-regular;
    font-size: $h2-font-size;
    &_link {
      color: $title-color;
      display: flex;
      & p {
        margin-bottom: 0;
      }
      align-items: center;
      white-space: nowrap;
    }
  }
  &__btn {
    margin: 0 15px;
    font-weight: $font-regular;
    font-size: $h2-font-size;
    text-transform: capitalize;
    padding: 4px 20px;
    border-radius: 10px;
    white-space: nowrap;
  }
  &__burger {
    width: 50px;
    height: 50px;
    box-shadow: 0 1px 30px 0 rgb(32 32 32 / 6%);
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    span {
      position: absolute;
      width: 26px;
      height: 3px;
      border-radius: 4px;
      background-color: $first-color;
      transition: all 0.5s ease-in-out;
      &:first-child {
        transform: translateY(-10px);
        width: 15px;
        left: 13px;
      }
      &:nth-child(2) {
        transform: translateY(10px);
        width: 15px;
        left: 13px;
      }
    }

    &.bactive {
      span:nth-child(1) {
        width: 26px;
        transform: translateX(0px) rotate(45deg);
      }
      span:nth-child(2) {
        width: 26px;
        transform: translateX(0px) rotate(315deg);
      }
      span:nth-child(3) {
        transform: translateX(50px);
      }
    }
  }
}
.header__menu {
  transform: translateY(calc(-100% - 160px));
  width: 100%;
  /* height: calc(100vh - 80px); */
  position: absolute;
  opacity: 1;
  z-index: 40;
  color: #fff;
  background: #569efd;
  padding: 1.625rem;
  a {
    cursor: pointer;
    color: #fff;
    padding: 0.625rem;
    display: block;
    font-size: $h2-font-size;
    text-align: center;
  }
  a:nth-child(4) {
    margin-bottom: 30px;
  }
}

.home {
  z-index: 10;
  background-color: $first-color-alt;
  border-radius: 0 0 50px 50px;
  margin: auto;
  max-height: 100%;
  &-container {
    width: 100%;
  }
  &-main {
    width: 100%;
    padding: 20px 50px;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    align-content: center;
    &-title {
      &-content {
        display: flex;
        flex-direction: column;
      }
      max-width: 300px;
      font-size: 2.5rem;
      font-weight: $font-regular;
      color: #fff;
    }
    &-text {
      font-size: $h2-font-size;
      color: #fff;
    }
  }
  &-btns {
    margin: 25px 0;
    font-weight: $font-regular;
    font-size: $h2-font-size;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  &-btn {
    &:nth-child(1) {
      margin-right: 30px;
    }
    text-transform: capitalize;
    padding: 4px 20px;
    margin: 6px 0;
    border-radius: 10px;
    white-space: nowrap;
  }
  &-aside {
    width: 100%;
    div {
      padding: 40px;
      height: 450px;
      position: absolute;
      border-radius: 0 0 50px 50px;
      background-color: rgba(182, 209, 252, 0.44);
    }
  }
  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
  }
}
.associated {
  margin-top: 40px;
  width: 100%;
  &-header {
    margin: 20px 0 0 0;
    flex-wrap: wrap;
    &-title {
      margin: 5px;
      font-size: $h1-font-size;
      font-weight: $font-bold;
      width: 250px;
    }
    &-img {
      width: 60px;
    }
  }
  &-body {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    &-img {
      object-fit: contain;
      height: 70px;
      display: inline-block;
      margin: 20px;
    }
  }
}
.main {
  margin-top: 100px;
  &-header {
    flex-wrap: wrap;
    &-title {
      margin-right: 40px;
      font-size: $big-font-size;
      font-weight: $font-bold;
    }
    &-subtitle {
      margin: 10px;
      width: 824px;
      font-size: $h3-font-size;
      font-weight: $font-regular;
    }
  }
  &-body {
    margin: 50px 0;
    display: grid;
    display: -ms-grid;
    gap: 20px;
    justify-items: center;
    text-align: center;
    grid-auto-rows: 22rem;
    -ms-grid-rows: 22rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 12rem), 1fr));
    -ms-grid-columns: repeat(auto-fit, minmax(min(100%, 12rem), 1fr));
    .main-card {
      overflow: hidden;
      height: 395px;
      padding: 30px;
      display: flex;
      border-radius: 50px;
      position: relative;
      flex-direction: column;
      &-content {
        margin: auto;
        max-width: 200px;
      }
      &-title {
        font-size: $h1-font-size;
        margin: 8px;
      }
      &-text {
        font-size: $normal-font-size;
      }
    }
  }
  &-btn {
    margin: 8px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $normal-font-size;
      color: $second-color;
      &:hover {
        img {
          transform: translateX(10px);
        }
      }
      img {
        height: $small--font-size;
        padding-left: 5px;
        transition: transform 0.3s ease-in;
      }
    }
  }
  &-footer {
    margin: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 40px;
    background-color: $first-color;
    &-img {
      flex-basis: 0;
      padding: 20px;
      .img {
        height: 150px;
        width: 150px;
      }
    }
    &-text {
      flex-basis: 0;
      flex-grow: 999;
      min-width: 268px;
      padding: 20px;
      p {
        max-width: 600px;
        margin: auto;
        font-size: 2rem;
        color: #fff;
        font-weight: $font-regular;
      }
    }
    &-btn {
      flex-basis: 0;
      padding: 20px;
      white-space: nowrap;
      a {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        border-radius: 20px;
        padding: 25px 44px;
        color: $first-color;
        background-color: #fff;
        font-weight: $font-regular;
      }
    }
  }
}
.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  &-header {
    margin-bottom: 20px;
    &-title {
      strong {
        color: $first-color;
      }
    }
  }
  &-main {
    width: 100%;
    justify-content: space-evenly;
    .news {
      &-card {
        max-width: 500px;
        &-img {
          .card-img {
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
            object-position: top;
          }
        }
        &-content {
          padding: 0 10px;
          .card-userpost {
            margin: 10px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .userpost-data {
              display: flex;
              align-items: center;
              .user-post {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
              }
              .user-post-name {
                margin-left: 10px;
                font-size: $small--font-size;
                color: #424242;
                font-weight: $font-medium;
              }
            }
            .userpost-time {
              margin: 10px;
              font-size: $small--font-size;
              font-weight: $font-bold;
              a {
                display: flex;
                align-items: center;
                img {
                  width: 18px;
                }
              }
            }
          }
          .card-content {
            margin: 10px 0;
            .card-title {
              max-width: 350px;
              font-size: $h1-font-size;
              font-weight: $font-bold;
            }
            .card-text {
              margin-top: 10px;
              font-size: $normal-font-size;
            }
          }
        }
      }
    }
    .news__cards {
      margin: 0;
      max-width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &-header {
        display: flex;
        justify-content: space-between;
        h3 {
          font-size: $h3-font-size;
          font-weight: $font-medium;
          border-bottom: 1px solid $first-color;
        }
        a {
          color: $second-color;
          img {
            width: 15px;
          }
        }
      }
      .news-card {
        display: flex;
        margin-bottom: 10px;
        &-img {
          padding-right: 20px;
          img {
            width: 150px;
            border-radius: 10px;
            object-fit: cover;
            object-position: top;
          }
        }
        &-content {
          position: relative;
          margin-bottom: 1.5rem;
          .news-card-title {
            font-size: $normal-font-size;
            font-weight: $font-medium;
          }
          .news-card-text {
            font-size: $small--font-size;
            margin-top: 10px;
          }
          .news-card-btn {
            bottom: 0;
            a {
              font-size: 0.8rem;
              color: $second-color;
              img {
                width: 0.9rem;
                margin-left: 0.3rem;
              }
            }
          }
        }
      }
      &-comingsoon {
        margin-top: 10px;
        h2 {
          font-size: $h3-font-size;
          display: inline-block;
          border-bottom: 1px solid $first-color;
        }
        .comingsoon-imgs {
          img {
            width: 130px;
            height: 130px;
            object-fit: cover;
            object-position: right;
          }
        }
      }
    }
  }
  &-footer {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $second-color;
    a {
      color: $second-color;
      margin-right: 10px;
    }
    img {
      width: 15px;
    }
  }
}
.footer {
  margin: auto;
  position: relative;
  width: 100%;
  height: 100%;
  &-background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    transform: scale(-1);
    background-image: url(../img/img-footer-background.webp);
  }
  &__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    .footer__header {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      .footer__logo {
        @extend .nav__logo;
      }
      &-text {
        max-width: 250px;
        margin: 20px 0;
        font-size: $h3-font-size;
      }
      &-information {
        .footer__link {
          margin: 10px 0;
          font-size: $h3-font-size;
          display: flex;
          align-items: center;
          color: $title-text;
        }
      }
      &-social {
        margin: 15px 0;
        .footer__social {
          padding-right: 20px;
          p {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }
  &__main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-wrap: wrap;
    &-links {
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-title {
      color: $title-color;
      width: 123px;
      height: 50px;
      font-size: $h1-font-size;
      font-weight: $font-bold;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-item {
      font-size: $h3-font-size;
      margin: 10px 0;
    }
  }
  &__footer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
      color: $title-color;
      width: 123px;
      height: 50px;
      font-size: $h1-font-size;
      font-weight: $font-bold;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-text {
      font-size: $h3-font-size;
      margin: 20px 0;
      width: 100%;
      max-width: 400px;
    }
    form {
      display: flex;
      flex-wrap: nowrap;
      .footer__footer-input {
        width: 100%;
        max-width: 400px;
        border: none;
        outline: none;
        font-size: $h3-font-size;
        height: 40px;
        border-radius: 50px 0 0 50px;
        padding: 1rem;
        background-color: #fff;
        border: 1px #2c70dd solid;
      }
    }
    &-btn {
      cursor: pointer;
      padding: 0 10px;
      height: 40px;
      border-radius: 0 50px 50px 0;
      font-size: 2rem;
      margin: 0;
      border: none;
      background-color: $first-color;
      overflow: hidden;
      .svg-message {
        margin: 7px 0;
        transform: rotate(-45deg);
      }
    }
  }
  .rightsReserved {
    padding-bottom: 35px;
    text-align: center;
  }
}
.login-header {
  position: absolute;
  background-color: rgba(255, 222, 173, 0);
}
.login {
  height: 100vh;
  max-height: 1000px;
  min-height: 600px;
}
.login-form {
  width: 100%;
  max-width: 450px;
}
.login__title {
  font-size: $big-font-size;
  font-weight: 700;
  margin-bottom: 20px;
}
.login__subtitle {
  font-size: $h2-font-size;
  font-weight: 400;
}
.login__form {
  margin: 20px 0;
}
.login__label {
  display: block;
  font-size: $h2-font-size;
  font-weight: 700;
}
.login__input {
  width: 100%;
  font-size: $h3-font-size;
  border-radius: 50px;
  padding: 8px 15px;
  background-color: $body-color;
  border: 1px solid #707070;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
.login__checkbox {
  margin-bottom: 30px;
}
.position-relative {
  margin-bottom: 30px;
}
.login__options {
  flex-wrap: wrap;
  margin: 5px 0;
}
.container-text {
  position: relative;
  padding-left: 35px;
  font-size: $h3-font-size;
  margin-bottom: 15px;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: $h1-font-size;
  width: $h1-font-size;
  border: 1px solid #707070;
  border-radius: 15px;
  cursor: pointer;
  &:after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 4px;
    width: 7px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
input {
  &:checked {
    ~ {
      .checkmark {
        background-color: #2196f3;
        border: none;
        &:after {
          display: block;
        }
      }
    }
  }
}
.login__forgopassword {
  margin-bottom: 15px;
  font-size: $h3-font-size;
  color: $first-color;
  text-decoration: $first-color;
}
.login__img {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  background-image: url(../img/young-doctor.jpeg);
}
.icon-google {
  background-image: url(../img/icon-google.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.login__button {
  display: block;
  margin: 0 0 20px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: $h3-font-size;
  border: none;
  cursor: pointer;
}
.btn--google {
  background-color: #fff;
  border: 1px solid #707070;
}
.login__link {
  font-size: 1.125rem;
  font-weight: $font-regular;
  margin-bottom: 20px;
  a {
    color: $first-color;
    margin-left: 10px;
  }
}
.login__card {
  box-sizing: border-box !important;
  max-width: 640px;
  opacity: 90%;
  bottom: 0;
  background-color: #2c70dd;
  border-radius: 40px;
  border: 1px solid #fff;
  position: absolute;
  margin: 20px;
}
.login__comments {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
  font-size: $h2-font-size;
  font-weight: $font-regular;
  color: #fff;
}
.login__card-content {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  justify-content: space-between;
  align-items: flex-end;
}
.login__user {
  flex-grow: 1;
  h2 {
    font-size: $h1-font-size;
    font-weight: $font-bold;
    color: #fff;
  }
  h3 {
    font-size: $h3-font-size;
    font-weight: $font-regular;
    color: #fff;
  }
  p {
    font-size: $smaller-font-size;
    font-weight: $font-regular;
    color: #fff;
  }
}
.login__card-options {
  margin-top: 20px;
  flex-grow: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.login__arrows {
  margin-right: 10px;
  margin-top: 10px;
}
.arrow-circle-left {
  margin-right: 1.5rem;
  height: 2rem;
  cursor: pointer;
}
.arrow-circle-right {
  height: 2rem;
  cursor: pointer;
}
.register {
  min-height: 750px;
}
.forms {
  display: flex;
  flex-direction: row;
}
.register__content {
  margin: 0 50px;
}
.switch-button {
  margin: 80px auto auto;
  max-width: 400px;
  height: 40px;
  border-radius: 50px;
  text-align: center;
  will-change: transform;
  z-index: 197 !important;
  cursor: pointer;
  transition: 0.3s ease all;
  background-color: #ddf1ee;
  border: 1px solid #ddf1ee;
  .active-swc {
    color: #fff;
    background-color: #20bead;
    border-radius: 50px;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    transition: 0.3s ease-out all;
  }
  .active-case {
    color: #fff;
  }
}
.switch-button-case {
  display: inline-block;
  background: none;
  width: 49%;
  height: 100%;
  color: #000;
  position: relative;
  border: none;
  transition: 0.3s ease all;
  text-transform: capitalize;
  font-size: $h3-font-size;
  font-weight: $font-bold;
  padding-bottom: 1px;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}
.switch-button-case:active,
.switch-button-case:focus {
  color: #fff;
}
.right {
  color: #000;
}
.register__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px 15px 0;
  padding-left: 12px;
  h1 {
    font-size: $big-font-size;
    font-weight: $font-bold;
  }
  p {
    font-size: $h2-font-size;
    font-weight: $font-regular;
    color: $text-color;
  }
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  + {
    label {
      height: 74px;
      width: 150px;
      position: relative;
      bottom: -41px;
      font-size: 1.25em;
      margin-bottom: 30px;
      font-weight: 700;
      color: $title-color;
      display: inline-block;
      background-image: url(../img/chooseFile.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }
  }
}
.label-text {
  font-size: $h2-font-size;
  font-weight: 700;
  text-align: center;
  position: relative;
  top: -41px;
  right: 14px;
  margin: 0px;
}
.register__form {
  margin: 0 12px 0px;
}
.register__options {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 40px auto auto;
}
.register__member {
  text-align: center;
}
.register__img {
  display: none;
  width: 50%;
  height: 100vh;
  min-height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50px 0 0 50px;
  background-image: url(../img/young-doctor.jpeg);
  -webkit-transform: translateZ(50px);
  transform: translateZ(50px);
  -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
}
.textarea {
  border-radius: 50px;
  resize: none;
  padding: 8px 15px;
}
.contact {
  &__nav {
    position: absolute !important;
    z-index: 10;
    width: 100vw;
    background-color: #ffffff;
  }
  &__main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    background-image: url(../img/contact-img.webp);
  }
  &__card {
    position: absolute;
    max-width: 370px;
    max-height: 470px;
    background-color: $first-color-alt;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: translateX(-50%);
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    &-title {
      position: relative;
      background-color: #fff;
      border-radius: 25px 25px 0 0;
      font-size: $h3-font-size;
      font-weight: $font-bold;
      padding: 30px 50px;
      h2 {
        color: $first-color-alt;
      }
    }
    &-content {
      position: relative;
      padding: 0 50px;
    }
  }
  &__city,
  &__adress,
  &__phone,
  &__email,
  &__social {
    height: 57px;
    span {
      margin-top: 10px;
      font-size: $h3-font-size;
      font-weight: $font-medium;
      color: #ffffffa8;
      display: block;
    }
    p {
      display: flex;
      flex-wrap: wrap;
      font-size: $h2-font-size;
      font-weight: $font-regular;
      color: #ffffff;
    }
    a {
      display: inline-block;
      font-size: $h2-font-size;
      font-weight: $font-regular;
      cursor: pointer;
      color: #ffffff;
      margin-right: 10px;
      &:after {
        content: "";
        width: 0%;
        height: 2px;
        background-color: #ffffff;
        display: block;
        margin: auto;
        transition: width 0.5s ease-in-out;
      }
      &:hover {
        &:after {
          width: 100%;
        }
      }
    }
  }
}

.service {
  &__home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/service-home.jpg);
    height: 400px;
    width: 100%;
    background-size: cover;
    border-radius: 0 0 50px 50px;
    position: relative;
    &::before {
      background-color: $first-color-alt;
      opacity: 0.8;
      border-radius: 0 0 50px 50px;
      position: absolute;
      margin: auto;
      width: 100%;
      height: 400px;
      content: "";
    }
    .container-home {
      .home-title,
      .home-text {
        color: #ffffff;
        text-align: center;
        position: relative;
      }
      .home-title {
        font-size: $big-font-size;
        font-weight: $font-bold;
        margin-bottom: 30px;
      }
      .home-text {
        font-size: $h3-font-size;
        font-weight: $font-regular;
      }
    }
  }
  &__details {
    margin: 50px 0;
  }
  &__search {
    padding: 25px 20px;
    box-shadow: 0 1px 30px 0 rgb(32 32 32 / 11%);
    border-radius: 10px;
    margin-bottom: 30px;
    h3 {
      font-size: $h1-font-size;
      font-weight: $font-regular;
      margin-bottom: 20px;
    }
    form {
      position: relative;
      input {
        width: 100%;
        background-color: transparent;
        height: 55px;
        border: none;
        padding: 0 70px 0 20px;
        font-size: 14px;
        font-weight: 400;
        border: 1px solid #eee;
        border-radius: 5px;
        background-color: #fff;
      }
      button {
        position: absolute;
        right: 9px;
        top: 50%;
        width: 40px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        color: #fff !important;
        font-size: 13px;
        color: #fff;
        border-radius: 5px;
        padding: 0 !important;
        border: none;
        margin-top: -19px;
        background: $second-color;
      }
    }
  }
  &__category {
    padding: 25px 20px;
    box-shadow: 0 1px 30px 0 rgb(32 32 32 / 11%);
    border-radius: 10px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    h3 {
      font-size: $h1-font-size;
      font-weight: $font-regular;
      margin-bottom: 20px;
    }
    li {
      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        padding: 12px 0;
        color: #081828;
        font-weight: 400;
        border-radius: 0;
        position: relative;
        padding-right: 40px;
        font-size: $h3-font-size;
        border-bottom: 1px solid #eee;
        img {
          transition: all 0.3s ease-in-out;
        }
        &:hover {
          img {
            transform: translateX(10px);
          }
        }
      }
      &:last-child a {
        border-bottom: 1px solid #fff;
      }
    }
  }
  &__contact {
    padding: 25px 20px;
    box-shadow: 0 1px 30px 0 rgb(32 32 32 / 11%);
    border-radius: 10px;
    margin-bottom: 30px;
    h3 {
      font-size: $h1-font-size;
      font-weight: $font-regular;
      margin-bottom: 20px;
    }
    li {
      font-size: $h3-font-size;
      position: relative;
      display: flex;
      margin-bottom: 25px;
      align-items: center;
      .icon {
        width: 34px;
        height: 30px;
        filter: invert(75%) sepia(40%) saturate(6588%) hue-rotate(131deg)
          brightness(103%) contrast(74%);
      }
      p {
        padding-left: 30px;
        overflow-wrap: anywhere;
      }
      p,
      a {
        color: #000000ab;
      }
    }
  }
  &__neurology {
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      border-radius: 10px;
      margin-bottom: 40px;
    }
    h2 {
      font-size: $big-font-size;
      font-weight: $font-regular;
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #eee;
    }
    p {
      font-size: $h3-font-size;
      display: block;
      margin: 20px 0;
      line-height: 24px;
      color: #000000ab;
    }
    ul {
      margin: 25px 0 !important;
      li {
        display: flex;
        align-items: center;
        font-size: $h3-font-size;
        margin-bottom: 15px;
        line-height: 24px;
        color: #000000ab;
        .icon {
          width: 30px;
          height: 30px;
          filter: invert(34%) sepia(94%) saturate(1827%) hue-rotate(205deg)
            brightness(90%) contrast(91%);
        }
        p {
          margin: 0;
          padding-left: 30px;
        }
      }
    }
    blockquote {
      background-color: $first-color-alt;
      position: relative;
      color: #fff;
      font-weight: 400;
      clear: both;
      z-index: 1;
      margin: 40px 0;
      text-align: left;
      padding: 40px;
      border-radius: 5px;
      h4 {
        color: #fff;
        font-weight: $font-bold;
      }
      span {
        margin-top: 20px;
      }
    }
  }
}
