@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");
.slide-in-right {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: slide-in-right;
  -moz-animation-delay: 0;
  -moz-animation-duration: 1s;
  -moz-animation-name: slide-in-right;
  animation-delay: 0;
  animation-duration: 1s;
  animation-name: slide-in-right;
}

.slide-in-left {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: slide-in-left;
  -moz-animation-delay: 0;
  -moz-animation-duration: 1s;
  -moz-animation-name: slide-in-left;
  animation-delay: 0;
  animation-duration: 1s;
  animation-name: slide-in-left;
}

.fade-in-fwd {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-name: fade-in-fwd;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.3s;
  -moz-animation-name: fade-in-fwd;
  animation-delay: 0;
  animation-duration: 0.3s;
  animation-name: fade-in-fwd;
}

.animation__img {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: slide-in-right;
  -moz-animation-delay: 0;
  -moz-animation-duration: 1s;
  -moz-animation-name: slide-in-right;
  animation-delay: 0;
  animation-duration: 1s;
  animation-name: slide-in-right;
}

.scale-in-center {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: scale-in-center;
  -moz-animation-delay: 0;
  -moz-animation-duration: 1.5s;
  -moz-animation-name: scale-in-center;
  animation-delay: 0;
  animation-duration: 1.5s;
  animation-name: scale-in-center;
}

.shadow-drop-2-center {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-name: shadow-drop-2-center;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.4s;
  -moz-animation-name: shadow-drop-2-center;
  animation-delay: 0;
  animation-duration: 0.4s;
  animation-name: shadow-drop-2-center;
}

.slide-out-left {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: slide-out-left;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: slide-out-left;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: slide-out-left;
}

.slide-out-right {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: slide-out-right;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: slide-out-right;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: slide-out-right;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@-moz-keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@-o-keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-moz-keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-o-keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-moz-keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-o-keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes shadow-drop-2-center {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@-moz-keyframes shadow-drop-2-center {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@-o-keyframes shadow-drop-2-center {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@-webkit-keyframes slide-out-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@-moz-keyframes slide-out-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@-o-keyframes slide-out-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@-webkit-keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}
@-moz-keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}
@-o-keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}
@media only screen and (max-width: 400px) {
  .nav__logo {
    font-size: 10vw !important;
  }

  .nav__footer {
    font-size: 10vw !important;
  }
}
@media (max-width: 764px) {
  .news__card {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .section__home-aside {
    display: none !important;
  }

  .section__home-main {
    padding: 20px 10px !important;
  }

  .login-header {
    position: relative;
    background-color: #fff;
  }

  .login {
    flex-wrap: wrap;
  }

  .footer__header {
    align-items: center;
  }

  .section__comingsoon {
    display: none;
  }
}
@media (min-width: 768px) {
  .nav__logo {
    font-size: 2.5rem;
  }

  .section__comingsoon {
    display: initial;
  }

  .section__news-card {
    margin: auto;
    max-width: 500px;
  }

  .section-mobile {
    display: none !important;
  }
}
@media only screen and (max-width: 901px) {
  .nav__menu,
.hide-for-mobile,
.login__img {
    display: none !important;
  }

  .hide-for-desktop {
    display: block;
  }

  .header {
    position: initial !important;
  }
}
@media only screen and (min-width: 899px) {
  .hide-for-desktop {
    display: none;
  }
}
@media only screen and (max-width: 980px) {
  .section__home-container {
    justify-content: center;
  }

  .section__home-main {
    display: flex;
    align-content: center;
    width: 100%;
  }

  .section__home-btns {
    flex-wrap: wrap !important;
  }

  .section__home-btn:nth-child(1) {
    margin-right: 5px;
  }

  /* .section__news-card {
    display: none !important;
  } */
}
@media (min-width: 992px) {
  .section__associated-body {
    justify-content: start;
  }
}
@media only screen and (max-width: 1208px) {
  .nav__menu-phone {
    display: none !important;
  }

  .register__content {
    margin: 0 !important;
  }

  /* .register__img {
    display: none !important;
  } */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* ul,
* li {
  padding: 0;
}
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Titillium Web", sans-serif;
  font-size: 0.938rem;
  background-color: #fbfcfe;
  color: #000;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: #2156aa;
}

h1 {
  color: #232629;
  font-weight: 600;
}

h2 {
  color: #232629;
  font-weight: 600;
}

h3 {
  color: #232629;
  font-weight: 600;
}

h4 {
  color: #232629;
  font-weight: 600;
}

ul {
  list-style: none;
  margin: 0 !important;
}

a {
  text-decoration: none;
  color: #232629;
}
a:hover {
  color: #232629;
}

p {
  margin: 0;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-d_c {
  flex-direction: column;
}

.flex-jc_sb {
  justify-content: space-between;
}

.flex-jc_c {
  justify-content: center;
}

.flex-ai_c {
  align-items: center;
}

.flex-ai_fs {
  align-items: flex-start;
}

.flex-wrap {
  flex-wrap: wrap;
}

.sticky {
  position: fixed;
  position: -webkit-fixed;
  top: 0;
  z-index: 100;
}

.txt-uppercase {
  text-transform: uppercase;
}

.txt-capitalize {
  text-transform: capitalize;
}

.display-none {
  display: none;
}

.display-default {
  display: flex;
}

.btn--primary {
  background-color: #fff;
  color: #21c0b0;
  border: 1px solid #21c0b0;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn--primary:hover {
  background-color: #43cbbe;
  color: #fff;
}

.btn--secondary {
  background-color: #21c0b0;
  color: #fff;
  border: 1px solid #21c0b0;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn--secondary:hover {
  background-color: #43cbbe;
  color: #fff;
}

.svg-config, .svg-message, .svg-instagram, .svg-twitter, .svg-facebook, .svg-linkedin, .svg-envelope, .svg-phone {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}

.svg-phone {
  background-image: url(../img/phone.svg);
}

.svg-envelope {
  background-image: url(../img/envelope.svg);
}

.svg-linkedin {
  background-image: url(../img/linkedin-alt.svg);
}

.svg-facebook {
  background-image: url(../img/facebook-f.svg);
}

.svg-twitter {
  background-image: url(../img/twitter-alt.svg);
}

.svg-instagram {
  background-image: url(../img/instagram.svg);
}

.svg-message {
  background-image: url(../img/message.svg);
}

.nav {
  height: 80px;
}
.nav__logo {
  color: #232629;
  margin-right: 10px;
  font-size: 2.5rem;
  font-weight: 700;
  white-space: nowrap;
  font-family: "Dosis", sans-serif;
  z-index: 10;
}
.nav__logo strong {
  color: #2c70dd;
}
.nav__menu-item {
  margin: 0 15px;
  font-weight: 400;
  font-size: 1.25rem;
}
.nav__menu-item_link {
  color: #232629;
  align-items: center;
  white-space: nowrap;
}
.nav__menu-item_link::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #2c70dd;
  display: block;
  margin: auto;
  transition: width 0.3s ease-in-out;
}
.nav__menu-item_link:hover::after {
  width: 100%;
}
.nav__menu-item_link.active::after {
  width: 100%;
}
.nav__menu-phone {
  position: absolute;
  left: 0;
  padding: 0 15px;
  transform: translateX(-100%);
  font-weight: 400;
  font-size: 1.25rem;
}
.nav__menu-phone_link {
  color: #232629;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.nav__menu-phone_link p {
  margin-bottom: 0;
}
.nav__btn {
  margin: 0 15px;
  font-weight: 400;
  font-size: 1.25rem;
  text-transform: capitalize;
  padding: 4px 20px;
  border-radius: 10px;
  white-space: nowrap;
}
.nav__burger {
  cursor: pointer;
}
.nav__burger span {
  display: block;
  width: 26px;
  height: 3px;
  background-color: #2c70dd;
  transition: all 0.3s ease-in-out;
  transform-origin: 3px 1px;
}
.nav__burger span:not(:last-child) {
  margin-bottom: 5px;
}

.section__home {
  background-color: #2c70dd;
  border-radius: 0 0 50px 50px;
  margin: auto;
  max-height: 100%;
}
.section__home-container {
  width: 100%;
}
.section__home-main {
  width: 100%;
  padding: 20px 50px;
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  align-content: center;
}
.section__home-main-title {
  max-width: 300px;
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
}
.section__home-main-title-content {
  display: flex;
  flex-direction: column;
}
.section__home-main-text {
  font-size: 1.25rem;
  color: #fff;
}
.section__home-btns {
  margin: 25px 0;
  font-weight: 400;
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.section__home-btn {
  text-transform: capitalize;
  padding: 4px 20px;
  margin: 6px 0;
  border-radius: 10px;
  white-space: nowrap;
}
.section__home-btn:nth-child(1) {
  margin-right: 30px;
}
.section__home-aside {
  width: 100%;
}
.section__home-aside div {
  padding: 40px;
  height: 450px;
  position: absolute;
  border-radius: 0 0 50px 50px;
  background-color: rgba(182, 209, 252, 0.44);
}
.section__home-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}

.section__associated-header h2 {
  margin: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  width: 250px;
}

.associated-header-img {
  width: 60px;
}

.section__associated {
  margin-top: 40px;
  width: 100%;
}

.section__associated-body {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.associated-img {
  object-fit: contain;
  height: 70px;
  display: inline-block;
  margin: 20px;
}

.section__main-header {
  margin: 50px 0;
  flex-wrap: wrap;
}

.section__main-title {
  margin-right: 40px;
  font-size: 2.5rem;
  font-weight: 700;
}

.section__main-subtitle {
  margin: 10px;
  width: 824px;
  font-size: 1.125rem;
  font-weight: 400;
}

.section__main-body {
  display: grid;
  display: -ms-grid;
  gap: 20px;
  justify-items: center;
  text-align: center;
  grid-auto-rows: 22rem;
  -ms-grid-rows: 22rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 12rem), 1fr));
  -ms-grid-columns: repeat(auto-fit, minmax(min(100%, 12rem), 1fr));
}

.section__main-card-img {
  margin: auto;
}

.section__main-card-content {
  margin: auto;
  max-width: 200px;
}

.section__main-card-title {
  font-size: 1.5rem;
  margin: 8px;
}

.section__main-card-text {
  font-size: 0.938rem;
  margin: 8px;
}

.section__main-btn {
  margin: 8px;
}
.section__main-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.938rem;
  color: #21c0b0;
}
.section__main-btn a:hover img {
  transform: translateX(10px);
}
.section__main-btn a img {
  height: 0.813rem;
  padding-left: 5px;
  transition: transform 0.3s ease-in;
}

.section__main-footer {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 40px;
  background-color: #2c70dd;
}

.section__main-footer-img {
  flex-basis: 0;
  padding: 20px;
}
.section__main-footer-img .img {
  height: 150px;
  width: 150px;
}

.section__main-footer-text {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 268px;
  padding: 20px;
}
.section__main-footer-text p {
  max-width: 600px;
  margin: auto;
  font-size: 2rem;
  color: #fff;
  font-weight: 400;
}

.section__main-footer-btn {
  flex-basis: 0;
  padding: 20px;
  white-space: nowrap;
}
.section__main-footer-btn a {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 20px;
  padding: 25px 44px;
  color: #2c70dd;
  background-color: #fff;
  font-weight: 400;
}

.section__news {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.section__news .section__news-header {
  margin-bottom: 20px;
}
.section__news .section__news-header .section__news-title strong {
  color: #2c70dd;
}
.section__news .section__news-body .news__main {
  max-width: 500px;
}
.section__news .section__news-body .news__main .section__news-card .section__news-card-img .card-img {
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: top;
}
.section__news .section__news-body .news__main .section__news-card .section__news-card-content {
  padding: 0 10px;
}
.section__news .section__news-body .news__main .section__news-card .section__news-card-content .card-userpost {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__news .section__news-body .news__main .section__news-card .section__news-card-content .card-userpost .userpost-data {
  display: flex;
  align-items: center;
}
.section__news .section__news-body .news__main .section__news-card .section__news-card-content .card-userpost .userpost-data .user-post {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.section__news .section__news-body .news__main .section__news-card .section__news-card-content .card-userpost .userpost-data .user-post-name {
  margin-left: 10px;
  font-size: 0.813rem;
  color: #424242;
  font-weight: 600;
}
.section__news .section__news-body .news__main .section__news-card .section__news-card-content .card-userpost .userpost-time {
  margin: 10px;
  font-size: 0.813rem;
  font-weight: 700;
}
.section__news .section__news-body .news__main .section__news-card .section__news-card-content .card-userpost .userpost-time a {
  display: flex;
  align-items: center;
}
.section__news .section__news-body .news__main .section__news-card .section__news-card-content .card-userpost .userpost-time a img {
  width: 18px;
}
.section__news .section__news-body .news__main .section__news-card .section__news-card-content .card-content {
  margin: 10px 0;
}
.section__news .section__news-body .news__main .section__news-card .section__news-card-content .card-content .card-title {
  max-width: 350px;
  font-size: 1.5rem;
  font-weight: 700;
}
.section__news .section__news-body .news__main .section__news-card .section__news-card-content .card-content .card-text {
  margin-top: 10px;
  font-size: 0.938rem;
}
.section__news .section__news-body .news__card {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
}
.section__news .section__news-body .news__card .section-header {
  display: flex;
  justify-content: space-between;
}
.section__news .section__news-body .news__card .section-header h3 {
  font-size: 1.125rem;
  font-weight: 600;
  border-bottom: 1px solid #2c70dd;
}
.section__news .section__news-body .news__card .section-header a {
  color: #21c0b0;
}
.section__news .section__news-body .news__card .section-header a img {
  width: 15px;
}
.section__news .section__news-body .news__card .section__news-card {
  display: flex;
}
.section__news .section__news-body .news__card .section__news-card .section__news-card-img {
  padding-right: 20px;
}
.section__news .section__news-body .news__card .section__news-card .section__news-card-img img {
  width: 150px;
  border-radius: 10px;
  object-fit: cover;
  object-position: top;
}
.section__news .section__news-body .news__card .section__news-card .section__news-card-content {
  position: relative;
  margin-bottom: 1.5rem;
}
.section__news .section__news-body .news__card .section__news-card .section__news-card-content .section__news-card-title {
  font-size: 0.938rem;
  font-weight: 600;
}
.section__news .section__news-body .news__card .section__news-card .section__news-card-content .section__news-card-text {
  font-size: 0.813rem;
  margin-top: 10px;
}
.section__news .section__news-body .news__card .section__news-card .section__news-card-content .section__news-card-btn {
  bottom: 0;
}
.section__news .section__news-body .news__card .section__news-card .section__news-card-content .section__news-card-btn a {
  font-size: 0.8rem;
  color: #21c0b0;
}
.section__news .section__news-body .news__card .section__news-card .section__news-card-content .section__news-card-btn a img {
  width: 0.9rem;
  margin-left: 0.3rem;
}
.section__news .section__news-body .news__card .section__comingsoon {
  margin-top: 50px;
}
.section__news .section__news-body .news__card .section__comingsoon h2 {
  font-size: 1.125rem;
  display: inline-block;
  border-bottom: 1px solid #2c70dd;
}
.section__news .section__news-body .news__card .section__comingsoon .comingsoon-imgs img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  object-position: right;
}
.section__news .section-mobile {
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #21c0b0;
}
.section__news .section-mobile a {
  color: #21c0b0;
  margin-right: 10px;
}
.section__news .section-mobile img {
  width: 15px;
}

.footer {
  margin: auto;
  position: relative;
  width: 100%;
  height: 100%;
}

.footer-background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  transform: scale(-1);
  background-image: url(../img/img-footer-background.jpg);
}

.footer__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__link {
  display: flex;
  align-items: center;
  color: #000;
}

.footer__header {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.footer__header-text {
  max-width: 250px;
  margin: 20px 0;
  font-size: 1.125rem;
}

.footer__header-information a {
  margin: 10px 0;
  font-size: 1.125rem;
}

.footer__header-social {
  margin: 15px 0;
}
.footer__header-social .footer__social {
  padding-right: 20px;
}
.footer__header-social .footer__social p {
  width: 25px;
  height: 25px;
}

.footer__main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-wrap: wrap;
}

.footer__main-links {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__main-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-title {
  color: #232629;
  width: 123px;
  height: 50px;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__main-item {
  font-size: 1.125rem;
  margin: 10px 0;
}

.footer__footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__footer form {
  display: flex;
  flex-wrap: nowrap;
}
.footer__footer form input {
  height: 40px;
  border-radius: 50px 0 0 50px;
  padding: 1rem;
  background-color: #fff;
  border: 1px #2c70dd solid;
}

.footer__footer-text {
  font-size: 1.125rem;
  margin: 20px 0;
  width: 100%;
  max-width: 400px;
}

.footer__footer-input {
  width: 100%;
  max-width: 400px;
  border: none;
  outline: none;
  font-size: 1.125rem;
}

.footer__footer-btn {
  cursor: pointer;
  padding: 0 10px;
  height: 40px;
  border-radius: 0 50px 50px 0;
  font-size: 2rem;
  margin: 0;
  border: none;
  background-color: #2c70dd;
  overflow: hidden;
}
.footer__footer-btn p {
  margin: 7px 0;
  transform: rotate(-45deg);
}

.login-header {
  position: absolute;
  background-color: rgba(255, 222, 173, 0);
}

.login {
  height: 100vh;
  max-height: 1000px;
  min-height: 600px;
}

.login-form {
  width: 100%;
  max-width: 450px;
}

.login__title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.login__subtitle {
  font-size: 1.25rem;
  font-weight: 400;
}

.login__form {
  margin: 20px 0;
}

.login__label {
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
}

.login__input {
  width: 100%;
  font-size: 1.125rem;
  border-radius: 50px;
  padding: 8px 15px;
  background-color: #fbfcfe;
  border: 1px solid #707070;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.login__checkbox {
  margin-bottom: 30px;
}

.position-relative {
  margin-bottom: 30px;
}

.login__options {
  flex-wrap: wrap;
  margin: 5px 0;
}

.container-text {
  position: relative;
  padding-left: 35px;
  font-size: 1.125rem;
  margin-bottom: 15px;
}
.container-text input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid #707070;
  border-radius: 15px;
  cursor: pointer;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 4px;
  width: 7px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input:checked ~ .checkmark {
  background-color: #2196f3;
  border: none;
}
input:checked ~ .checkmark:after {
  display: block;
}

.login__forgopassword {
  margin-bottom: 15px;
  font-size: 1.125rem;
  color: #2c70dd;
  text-decoration: #2c70dd;
}

.login__img {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  background-image: url(../img/young-doctor.jpeg);
}

.icon-google {
  background-image: url(../img/icon-google.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.login__button {
  display: block;
  margin: 0 0 20px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  border: none;
  cursor: pointer;
}

.btn--google {
  background-color: #fff;
  border: 1px solid #707070;
}

.login__link {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 20px;
}
.login__link a {
  color: #2c70dd;
  margin-left: 10px;
}

.login__card {
  box-sizing: border-box !important;
  max-width: 640px;
  opacity: 90%;
  bottom: 0;
  background-color: #2c70dd;
  border-radius: 40px;
  border: 1px solid #fff;
  position: absolute;
  margin: 20px;
}

.login__comments {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
}

.login__card-content {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  justify-content: space-between;
  align-items: flex-end;
}

.login__user {
  flex-grow: 1;
}
.login__user h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}
.login__user h3 {
  font-size: 1.125rem;
  font-weight: 400;
  color: #fff;
}
.login__user p {
  font-size: 0.75rem;
  font-weight: 400;
  color: #fff;
}

.login__card-options {
  margin-top: 20px;
  flex-grow: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.login__arrows {
  margin-right: 10px;
  margin-top: 10px;
}

.arrow-circle-left {
  margin-right: 1.5rem;
  height: 2rem;
  cursor: pointer;
}

.arrow-circle-right {
  height: 2rem;
  cursor: pointer;
}

.register {
  min-height: 750px;
}

.forms {
  display: flex;
  flex-direction: row;
}

.register__content {
  margin: 0 50px;
}

.switch-button {
  margin: 80px auto auto;
  max-width: 400px;
  height: 40px;
  border-radius: 50px;
  text-align: center;
  will-change: transform;
  z-index: 197 !important;
  cursor: pointer;
  transition: 0.3s ease all;
  background-color: #ddf1ee;
  border: 1px solid #ddf1ee;
}
.switch-button .active-swc {
  color: #fff;
  background-color: #20bead;
  border-radius: 50px;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
  transition: 0.3s ease-out all;
}
.switch-button .active-case {
  color: #fff;
}

.switch-button-case {
  display: inline-block;
  background: none;
  width: 49%;
  height: 100%;
  color: #000;
  position: relative;
  border: none;
  transition: 0.3s ease all;
  text-transform: capitalize;
  font-size: 1.125rem;
  font-weight: 700;
  padding-bottom: 1px;
}
.switch-button-case:hover {
  cursor: pointer;
}
.switch-button-case:focus {
  outline: none;
}

.switch-button-case:active, .switch-button-case:focus {
  color: #fff;
}

.right {
  color: #000;
}

.register__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px 15px 0;
  padding-left: 12px;
}
.register__text h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
.register__text p {
  font-size: 1.25rem;
  font-weight: 400;
  color: #6a717c;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  height: 74px;
  width: 150px;
  position: relative;
  bottom: -41px;
  font-size: 1.25em;
  margin-bottom: 30px;
  font-weight: 700;
  color: #232629;
  display: inline-block;
  background-image: url(../img/chooseFile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.label-text {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  position: relative;
  top: -41px;
  right: 14px;
  margin: 0px;
}

.register__form {
  margin: 0 12px 0px;
}

.register__options {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 40px auto auto;
}

.register__member {
  text-align: center;
}

.register__img {
  display: none;
  width: 50%;
  height: 100vh;
  min-height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50px 0 0 50px;
  background-image: url(../img/young-doctor.jpeg);
  -webkit-transform: translateZ(50px);
  transform: translateZ(50px);
  -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
}

.textarea {
  border-radius: 50px;
  resize: none;
  padding: 8px 15px;
}

/*# sourceMappingURL=style.css.map */
