@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");
.slide-in-right {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: slide-in-right;
  -moz-animation-delay: 0;
  -moz-animation-duration: 1s;
  -moz-animation-name: slide-in-right;
  animation-delay: 0;
  animation-duration: 1s;
  animation-name: slide-in-right;
}

.slide-in-left {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: slide-in-left;
  -moz-animation-delay: 0;
  -moz-animation-duration: 1s;
  -moz-animation-name: slide-in-left;
  animation-delay: 0;
  animation-duration: 1s;
  animation-name: slide-in-left;
}

.fade-in-fwd {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-name: fade-in-fwd;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.3s;
  -moz-animation-name: fade-in-fwd;
  animation-delay: 0;
  animation-duration: 0.3s;
  animation-name: fade-in-fwd;
}

.animation__img {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: slide-in-right;
  -moz-animation-delay: 0;
  -moz-animation-duration: 1s;
  -moz-animation-name: slide-in-right;
  animation-delay: 0;
  animation-duration: 1s;
  animation-name: slide-in-right;
}

.scale-in-center {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: scale-in-center;
  -moz-animation-delay: 0;
  -moz-animation-duration: 1.5s;
  -moz-animation-name: scale-in-center;
  animation-delay: 0;
  animation-duration: 1.5s;
  animation-name: scale-in-center;
}

.shadow-drop-2-center {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-name: shadow-drop-2-center;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.4s;
  -moz-animation-name: shadow-drop-2-center;
  animation-delay: 0;
  animation-duration: 0.4s;
  animation-name: shadow-drop-2-center;
}

.slide-out-left {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: slide-out-left;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: slide-out-left;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: slide-out-left;
}

.slide-out-right {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: slide-out-right;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: slide-out-right;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: slide-out-right;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@-moz-keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@-o-keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-moz-keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-o-keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-moz-keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-o-keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes shadow-drop-2-center {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@-moz-keyframes shadow-drop-2-center {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@-o-keyframes shadow-drop-2-center {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@-webkit-keyframes slide-out-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@-moz-keyframes slide-out-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@-o-keyframes slide-out-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@-webkit-keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}
@-moz-keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}
@-o-keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}

@media only screen and (max-width: 400px) {
  .nav__logo, .footer__container .footer__header .footer__logo {
    font-size: 10vw !important;
  }

  .nav__footer {
    font-size: 10vw !important;
  }
}
@media (max-width: 764px) {
  .news__cards {
    display: none !important;
  }

  .contact__main {
    height: 125vh !important;
  }

  .contact__card {
    transform: translateX(0) !important;
    margin-top: 120px !important;
  }
}
@media (max-width: 767px) {
  .home-main {
    padding: 20px 10px !important;
  }

  .login-header {
    position: relative;
    background-color: #fff;
  }

  .login {
    flex-wrap: wrap;
  }

  .footer__header {
    align-items: center;
  }

  .news__cards-comingsoon {
    display: none;
  }
}
@media (min-width: 768px) {
  .nav__logo, .footer__container .footer__header .footer__logo {
    font-size: 2.5rem;
  }

  .news__cards-comingsoon {
    display: initial;
  }

  .news-card {
    max-width: 500px;
  }

  .news-footer {
    display: none !important;
  }
}
@media only screen and (max-width: 935px) {
  .nav__menu,
.hide-for-mobile,
.login__img {
    display: none !important;
  }

  .home-aside {
    display: none !important;
  }

  .hide-for-desktop {
    display: block;
  }
}
@media only screen and (min-width: 936px) {
  .hide-for-desktop {
    display: none !important;
  }
}
@media only screen and (max-width: 980px) {
  .home-container {
    justify-content: center;
  }

  .home-main {
    display: flex;
    align-content: center;
    width: 100%;
  }

  .home-btns {
    flex-wrap: wrap !important;
  }

  .home-btn:nth-child(1) {
    margin-right: 5px;
  }
}
@media (min-width: 992px) {
  .associated-body {
    justify-content: start;
  }
}
@media only screen and (max-width: 1208px) {
  .nav__menu-phone {
    display: none !important;
  }

  .register__content {
    margin: 0 !important;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* ul,
* li {
  padding: 0;
}
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Titillium Web", sans-serif;
  font-size: 0.938rem;
  background-color: #fbfcfe;
  color: #000;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: #2156aa;
}

h1 {
  color: #232629;
  font-weight: 600;
}

h2 {
  color: #232629;
  font-weight: 600;
}

h3 {
  color: #232629;
  font-weight: 600;
}

h4 {
  color: #232629;
  font-weight: 600;
}

ul {
  list-style: none;
  margin: 0 !important;
}

a {
  text-decoration: none;
  color: #232629;
}
a:hover {
  color: #232629;
}

p {
  margin: 0;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-d_c {
  flex-direction: column;
}

.flex-jc_sb {
  justify-content: space-between;
}

.flex-jc_c {
  justify-content: center;
}

.flex-jc_se {
  justify-content: space-evenly;
}

.flex-ai_c {
  align-items: center;
}

.flex-ai_fs {
  align-items: flex-start;
}

.flex-wrap {
  flex-wrap: wrap;
}

.sticky {
  position: fixed;
  position: -webkit-fixed;
  top: 0;
  z-index: 100;
}

.txt-uppercase {
  text-transform: uppercase;
}

.txt-capitalize {
  text-transform: capitalize;
}

.display-none {
  display: none;
}

.display-default {
  display: flex;
}

.btn--primary {
  background-color: #fff;
  color: #21c0b0;
  border: 1px solid #21c0b0;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn--primary:hover {
  background-color: #43cbbe;
  color: #fff;
}

.btn--secondary {
  background-color: #21c0b0;
  color: #fff;
  border: 1px solid #21c0b0;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn--secondary:hover {
  background-color: #43cbbe;
  color: #fff;
}

.has-fade {
  visibility: hidden;
}

.svg-config, .svg-timer, .svg-check, .svg-location, .svg-search, .svg-message, .svg-instagram, .svg-twitter, .svg-facebook, .svg-linkedin, .svg-envelope, .svg-phone {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}

.svg-phone {
  background-image: url(../img/phone.svg);
}

.svg-envelope {
  background-image: url(../img/envelope.svg);
}

.svg-linkedin {
  background-image: url(../img/linkedin-alt.svg);
}

.svg-facebook {
  background-image: url(../img/facebook-f.svg);
}

.svg-twitter {
  background-image: url(../img/twitter-alt.svg);
}

.svg-instagram {
  background-image: url(../img/instagram.svg);
}

.svg-message {
  background-image: url(../img/message.svg);
}

.svg-search {
  background-image: url(../img/search.svg);
}

.svg-location {
  background-image: url(../img/location-pin-alt.svg);
}

.svg-check {
  background-image: url(../img/check-square.svg);
}

.svg-timer {
  background-image: url(../img/clock.svg);
}

.nav__logo, .footer__container .footer__header .footer__logo {
  color: #232629;
  margin-right: 10px;
  font-size: 2.5rem;
  font-weight: 700;
  white-space: nowrap;
  font-family: "Dosis", sans-serif;
  z-index: 10;
}
.nav__logo strong, .footer__container .footer__header .footer__logo strong {
  color: #2c70dd;
}

.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 20;
}
.header .overlay {
  z-index: -1;
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2c70dd;
  background: linear-gradient(180deg, #2c70dd 0%, rgba(255, 255, 255, 0) 100%);
}

.nav {
  height: 80px;
  border-bottom: 1px solid #ececec;
}
.nav__menu-item {
  margin: 0 15px;
  font-weight: 400;
  font-size: 1.25rem;
}
.nav__menu-item_link {
  color: #232629;
  align-items: center;
  white-space: nowrap;
}
.nav__menu-item_link::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #2c70dd;
  display: block;
  margin: auto;
  transition: width 0.3s ease-in-out;
}
.nav__menu-item_link:hover::after {
  width: 100%;
}
.nav__menu-item_link.active::after {
  width: 100%;
}
.nav__menu-phone {
  position: absolute;
  left: 0;
  padding: 0 15px;
  transform: translateX(-100%);
  font-weight: 400;
  font-size: 1.25rem;
}
.nav__menu-phone_link {
  color: #232629;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.nav__menu-phone_link p {
  margin-bottom: 0;
}
.nav__btn {
  margin: 0 15px;
  font-weight: 400;
  font-size: 1.25rem;
  text-transform: capitalize;
  padding: 4px 20px;
  border-radius: 10px;
  white-space: nowrap;
}
.nav__burger {
  width: 50px;
  height: 50px;
  box-shadow: 0 1px 30px 0 rgba(32, 32, 32, 0.06);
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
}
.nav__burger span {
  position: absolute;
  width: 26px;
  height: 3px;
  border-radius: 4px;
  background-color: #2c70dd;
  transition: all 0.5s ease-in-out;
}
.nav__burger span:first-child {
  transform: translateY(-10px);
  width: 15px;
  left: 13px;
}
.nav__burger span:nth-child(2) {
  transform: translateY(10px);
  width: 15px;
  left: 13px;
}
.nav__burger.bactive span:nth-child(1) {
  width: 26px;
  transform: translateX(0px) rotate(45deg);
}
.nav__burger.bactive span:nth-child(2) {
  width: 26px;
  transform: translateX(0px) rotate(315deg);
}
.nav__burger.bactive span:nth-child(3) {
  transform: translateX(50px);
}

.header__menu {
  overflow-y: initial !important;
  position: absolute;
  height: 282px;
  width: calc(100% - 2rem);
  transform: translateX(-50%);
  left: 50%;
  margin-top: 1.5rem;
  padding: 1.625rem;
  color: #fff;
  background: #569efd;
  border-radius: 10px;
}
.header__menu a {
  cursor: pointer;
  color: #fff;
  margin: 0.625rem;
  display: block;
  font-size: 1.25rem;
  text-align: center;
}

.home {
  z-index: 10;
  background-color: #4377cb;
  border-radius: 0 0 50px 50px;
  margin: auto;
  max-height: 100%;
}
.home-container {
  width: 100%;
}
.home-main {
  width: 100%;
  padding: 20px 50px;
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  align-content: center;
}
.home-main-title {
  max-width: 300px;
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
}
.home-main-title-content {
  display: flex;
  flex-direction: column;
}
.home-main-text {
  font-size: 1.25rem;
  color: #fff;
}
.home-btns {
  margin: 25px 0;
  font-weight: 400;
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.home-btn {
  text-transform: capitalize;
  padding: 4px 20px;
  margin: 6px 0;
  border-radius: 10px;
  white-space: nowrap;
}
.home-btn:nth-child(1) {
  margin-right: 30px;
}
.home-aside {
  width: 100%;
}
.home-aside div {
  padding: 40px;
  height: 450px;
  position: absolute;
  border-radius: 0 0 50px 50px;
  background-color: rgba(182, 209, 252, 0.44);
}
.home-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}

.associated {
  margin-top: 40px;
  width: 100%;
}
.associated-header {
  margin: 20px 0 0 0;
  flex-wrap: wrap;
}
.associated-header-title {
  margin: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  width: 250px;
}
.associated-header-img {
  width: 60px;
}
.associated-body {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.associated-body-img {
  object-fit: contain;
  height: 70px;
  display: inline-block;
  margin: 20px;
}

.main {
  margin-top: 100px;
}
.main-header {
  flex-wrap: wrap;
}
.main-header-title {
  margin-right: 40px;
  font-size: 2.5rem;
  font-weight: 700;
}
.main-header-subtitle {
  margin: 10px;
  width: 824px;
  font-size: 1.125rem;
  font-weight: 400;
}
.main-body {
  margin: 50px 0;
  display: grid;
  display: -ms-grid;
  gap: 20px;
  justify-items: center;
  text-align: center;
  grid-auto-rows: 22rem;
  -ms-grid-rows: 22rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 12rem), 1fr));
  -ms-grid-columns: repeat(auto-fit, minmax(min(100%, 12rem), 1fr));
}
.main-body .main-card {
  overflow: hidden;
  height: 395px;
  padding: 30px;
  display: flex;
  border-radius: 50px;
  position: relative;
  flex-direction: column;
}
.main-body .main-card-content {
  margin: auto;
  max-width: 200px;
}
.main-body .main-card-title {
  font-size: 1.5rem;
  margin: 8px;
}
.main-body .main-card-text {
  font-size: 0.938rem;
}
.main-btn {
  margin: 8px;
}
.main-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.938rem;
  color: #21c0b0;
}
.main-btn a:hover img {
  transform: translateX(10px);
}
.main-btn a img {
  height: 0.813rem;
  padding-left: 5px;
  transition: transform 0.3s ease-in;
}
.main-footer {
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 40px;
  background-color: #2c70dd;
}
.main-footer-img {
  flex-basis: 0;
  padding: 20px;
}
.main-footer-img .img {
  height: 150px;
  width: 150px;
}
.main-footer-text {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 268px;
  padding: 20px;
}
.main-footer-text p {
  max-width: 600px;
  margin: auto;
  font-size: 2rem;
  color: #fff;
  font-weight: 400;
}
.main-footer-btn {
  flex-basis: 0;
  padding: 20px;
  white-space: nowrap;
}
.main-footer-btn a {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 20px;
  padding: 25px 44px;
  color: #2c70dd;
  background-color: #fff;
  font-weight: 400;
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.news-header {
  margin-bottom: 20px;
}
.news-header-title strong {
  color: #2c70dd;
}
.news-main {
  width: 100%;
  justify-content: space-evenly;
}
.news-main .news-card {
  max-width: 500px;
}
.news-main .news-card-img .card-img {
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: top;
}
.news-main .news-card-content {
  padding: 0 10px;
}
.news-main .news-card-content .card-userpost {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news-main .news-card-content .card-userpost .userpost-data {
  display: flex;
  align-items: center;
}
.news-main .news-card-content .card-userpost .userpost-data .user-post {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.news-main .news-card-content .card-userpost .userpost-data .user-post-name {
  margin-left: 10px;
  font-size: 0.813rem;
  color: #424242;
  font-weight: 600;
}
.news-main .news-card-content .card-userpost .userpost-time {
  margin: 10px;
  font-size: 0.813rem;
  font-weight: 700;
}
.news-main .news-card-content .card-userpost .userpost-time a {
  display: flex;
  align-items: center;
}
.news-main .news-card-content .card-userpost .userpost-time a img {
  width: 18px;
}
.news-main .news-card-content .card-content {
  margin: 10px 0;
}
.news-main .news-card-content .card-content .card-title {
  max-width: 350px;
  font-size: 1.5rem;
  font-weight: 700;
}
.news-main .news-card-content .card-content .card-text {
  margin-top: 10px;
  font-size: 0.938rem;
}
.news-main .news__cards {
  margin: 0;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news-main .news__cards-header {
  display: flex;
  justify-content: space-between;
}
.news-main .news__cards-header h3 {
  font-size: 1.125rem;
  font-weight: 600;
  border-bottom: 1px solid #2c70dd;
}
.news-main .news__cards-header a {
  color: #21c0b0;
}
.news-main .news__cards-header a img {
  width: 15px;
}
.news-main .news__cards .news-card {
  display: flex;
  margin-bottom: 10px;
}
.news-main .news__cards .news-card-img {
  padding-right: 20px;
}
.news-main .news__cards .news-card-img img {
  width: 150px;
  border-radius: 10px;
  object-fit: cover;
  object-position: top;
}
.news-main .news__cards .news-card-content {
  position: relative;
  margin-bottom: 1.5rem;
}
.news-main .news__cards .news-card-content .news-card-title {
  font-size: 0.938rem;
  font-weight: 600;
}
.news-main .news__cards .news-card-content .news-card-text {
  font-size: 0.813rem;
  margin-top: 10px;
}
.news-main .news__cards .news-card-content .news-card-btn {
  bottom: 0;
}
.news-main .news__cards .news-card-content .news-card-btn a {
  font-size: 0.8rem;
  color: #21c0b0;
}
.news-main .news__cards .news-card-content .news-card-btn a img {
  width: 0.9rem;
  margin-left: 0.3rem;
}
.news-main .news__cards-comingsoon {
  margin-top: 10px;
}
.news-main .news__cards-comingsoon h2 {
  font-size: 1.125rem;
  display: inline-block;
  border-bottom: 1px solid #2c70dd;
}
.news-main .news__cards-comingsoon .comingsoon-imgs img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  object-position: right;
}
.news-footer {
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #21c0b0;
}
.news-footer a {
  color: #21c0b0;
  margin-right: 10px;
}
.news-footer img {
  width: 15px;
}

.footer {
  margin: auto;
  position: relative;
  width: 100%;
  height: 100%;
}
.footer-background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  transform: scale(-1);
  background-image: url(../img/img-footer-background.webp);
}
.footer__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer__container .footer__header {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.footer__container .footer__header-text {
  max-width: 250px;
  margin: 20px 0;
  font-size: 1.125rem;
}
.footer__container .footer__header-information .footer__link {
  margin: 10px 0;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  color: #000;
}
.footer__container .footer__header-social {
  margin: 15px 0;
}
.footer__container .footer__header-social .footer__social {
  padding-right: 20px;
}
.footer__container .footer__header-social .footer__social p {
  width: 25px;
  height: 25px;
}
.footer__main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-wrap: wrap;
}
.footer__main-links {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__main-title {
  color: #232629;
  width: 123px;
  height: 50px;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__main-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__main-item {
  font-size: 1.125rem;
  margin: 10px 0;
}
.footer__footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__footer-title {
  color: #232629;
  width: 123px;
  height: 50px;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__footer-text {
  font-size: 1.125rem;
  margin: 20px 0;
  width: 100%;
  max-width: 400px;
}
.footer__footer form {
  display: flex;
  flex-wrap: nowrap;
}
.footer__footer form .footer__footer-input {
  width: 100%;
  max-width: 400px;
  border: none;
  outline: none;
  font-size: 1.125rem;
  height: 40px;
  border-radius: 50px 0 0 50px;
  padding: 1rem;
  background-color: #fff;
  border: 1px #2c70dd solid;
}
.footer__footer-btn {
  cursor: pointer;
  padding: 0 10px;
  height: 40px;
  border-radius: 0 50px 50px 0;
  font-size: 2rem;
  margin: 0;
  border: none;
  background-color: #2c70dd;
  overflow: hidden;
}
.footer__footer-btn .svg-message {
  margin: 7px 0;
  transform: rotate(-45deg);
}
.footer .rightsReserved {
  padding-bottom: 35px;
  text-align: center;
}

.login-header {
  position: absolute;
  background-color: rgba(255, 222, 173, 0);
}

.login {
  height: 100vh;
  max-height: 1000px;
  min-height: 600px;
}

.login-form {
  width: 100%;
  max-width: 450px;
}

.login__title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.login__subtitle {
  font-size: 1.25rem;
  font-weight: 400;
}

.login__form {
  margin: 20px 0;
}

.login__label {
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
}

.login__input {
  width: 100%;
  font-size: 1.125rem;
  border-radius: 50px;
  padding: 8px 15px;
  background-color: #fbfcfe;
  border: 1px solid #707070;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.login__checkbox {
  margin-bottom: 30px;
}

.position-relative {
  margin-bottom: 30px;
}

.login__options {
  flex-wrap: wrap;
  margin: 5px 0;
}

.container-text {
  position: relative;
  padding-left: 35px;
  font-size: 1.125rem;
  margin-bottom: 15px;
}
.container-text input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid #707070;
  border-radius: 15px;
  cursor: pointer;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 4px;
  width: 7px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input:checked ~ .checkmark {
  background-color: #2196f3;
  border: none;
}
input:checked ~ .checkmark:after {
  display: block;
}

.login__forgopassword {
  margin-bottom: 15px;
  font-size: 1.125rem;
  color: #2c70dd;
  text-decoration: #2c70dd;
}

.login__img {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  background-image: url(../img/young-doctor.jpeg);
}

.icon-google {
  background-image: url(../img/icon-google.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.login__button {
  display: block;
  margin: 0 0 20px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  border: none;
  cursor: pointer;
}

.btn--google {
  background-color: #fff;
  border: 1px solid #707070;
}

.login__link {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 20px;
}
.login__link a {
  color: #2c70dd;
  margin-left: 10px;
}

.login__card {
  box-sizing: border-box !important;
  max-width: 640px;
  opacity: 90%;
  bottom: 0;
  background-color: #2c70dd;
  border-radius: 40px;
  border: 1px solid #fff;
  position: absolute;
  margin: 20px;
}

.login__comments {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
}

.login__card-content {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  justify-content: space-between;
  align-items: flex-end;
}

.login__user {
  flex-grow: 1;
}
.login__user h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}
.login__user h3 {
  font-size: 1.125rem;
  font-weight: 400;
  color: #fff;
}
.login__user p {
  font-size: 0.75rem;
  font-weight: 400;
  color: #fff;
}

.login__card-options {
  margin-top: 20px;
  flex-grow: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.login__arrows {
  margin-right: 10px;
  margin-top: 10px;
}

.arrow-circle-left {
  margin-right: 1.5rem;
  height: 2rem;
  cursor: pointer;
}

.arrow-circle-right {
  height: 2rem;
  cursor: pointer;
}

.register {
  min-height: 750px;
}

.forms {
  display: flex;
  flex-direction: row;
}

.register__content {
  margin: 0 50px;
}

.switch-button {
  margin: 80px auto auto;
  max-width: 400px;
  height: 40px;
  border-radius: 50px;
  text-align: center;
  will-change: transform;
  z-index: 197 !important;
  cursor: pointer;
  transition: 0.3s ease all;
  background-color: #ddf1ee;
  border: 1px solid #ddf1ee;
}
.switch-button .active-swc {
  color: #fff;
  background-color: #20bead;
  border-radius: 50px;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
  transition: 0.3s ease-out all;
}
.switch-button .active-case {
  color: #fff;
}

.switch-button-case {
  display: inline-block;
  background: none;
  width: 49%;
  height: 100%;
  color: #000;
  position: relative;
  border: none;
  transition: 0.3s ease all;
  text-transform: capitalize;
  font-size: 1.125rem;
  font-weight: 700;
  padding-bottom: 1px;
}
.switch-button-case:hover {
  cursor: pointer;
}
.switch-button-case:focus {
  outline: none;
}

.switch-button-case:active,
.switch-button-case:focus {
  color: #fff;
}

.right {
  color: #000;
}

.register__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px 15px 0;
  padding-left: 12px;
}
.register__text h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
.register__text p {
  font-size: 1.25rem;
  font-weight: 400;
  color: #6a717c;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  height: 74px;
  width: 150px;
  position: relative;
  bottom: -41px;
  font-size: 1.25em;
  margin-bottom: 30px;
  font-weight: 700;
  color: #232629;
  display: inline-block;
  background-image: url(../img/chooseFile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.label-text {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  position: relative;
  top: -41px;
  right: 14px;
  margin: 0px;
}

.register__form {
  margin: 0 12px 0px;
}

.register__options {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 40px auto auto;
}

.register__member {
  text-align: center;
}

.register__img {
  display: none;
  width: 50%;
  height: 100vh;
  min-height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50px 0 0 50px;
  background-image: url(../img/young-doctor.jpeg);
  -webkit-transform: translateZ(50px);
  transform: translateZ(50px);
  -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
}

.textarea {
  border-radius: 50px;
  resize: none;
  padding: 8px 15px;
}

.contact__nav {
  position: absolute !important;
  z-index: 10;
  width: 100vw;
  background-color: #ffffff;
}
.contact__main {
  position: relative;
  width: 100vw;
  height: 90vh;
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  background-image: url(../img/contact-img.jpg);
}
.contact__card {
  position: absolute;
  max-width: 370px;
  max-height: 470px;
  background-color: #4377cb;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: translateX(-50%);
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}
.contact__card-title {
  position: relative;
  background-color: #fff;
  border-radius: 25px 25px 0 0;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 30px 50px;
}
.contact__card-title h2 {
  color: #4377cb;
}
.contact__card-content {
  position: relative;
  padding: 0 50px;
}
.contact__city, .contact__adress, .contact__phone, .contact__email, .contact__social {
  height: 57px;
}
.contact__city span, .contact__adress span, .contact__phone span, .contact__email span, .contact__social span {
  margin-top: 10px;
  font-size: 1.125rem;
  font-weight: 600;
  color: #ffffffa8;
  display: block;
}
.contact__city p, .contact__adress p, .contact__phone p, .contact__email p, .contact__social p {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.25rem;
  font-weight: 400;
  color: #ffffff;
}
.contact__city a, .contact__adress a, .contact__phone a, .contact__email a, .contact__social a {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 400;
  cursor: pointer;
  color: #ffffff;
  margin-right: 10px;
}
.contact__city a:after, .contact__adress a:after, .contact__phone a:after, .contact__email a:after, .contact__social a:after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #ffffff;
  display: block;
  margin: auto;
  transition: width 0.5s ease-in-out;
}
.contact__city a:hover:after, .contact__adress a:hover:after, .contact__phone a:hover:after, .contact__email a:hover:after, .contact__social a:hover:after {
  width: 100%;
}

.service__home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/service-home.jpg);
  height: 400px;
  width: 100%;
  background-size: cover;
  border-radius: 0 0 50px 50px;
  position: relative;
}
.service__home::before {
  background-color: #4377cb;
  opacity: 0.8;
  border-radius: 0 0 50px 50px;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 400px;
  content: "";
}
.service__home .container-home .home-title,
.service__home .container-home .home-text {
  color: #ffffff;
  text-align: center;
  position: relative;
}
.service__home .container-home .home-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.service__home .container-home .home-text {
  font-size: 1.125rem;
  font-weight: 400;
}
.service__details {
  margin: 50px 0;
}
.service__search {
  padding: 25px 20px;
  box-shadow: 0 1px 30px 0 rgba(32, 32, 32, 0.11);
  border-radius: 10px;
  margin-bottom: 30px;
}
.service__search h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 20px;
}
.service__search form {
  position: relative;
}
.service__search form input {
  width: 100%;
  background-color: transparent;
  height: 55px;
  border: none;
  padding: 0 70px 0 20px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #fff;
}
.service__search form button {
  position: absolute;
  right: 9px;
  top: 50%;
  width: 40px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  color: #fff !important;
  font-size: 13px;
  color: #fff;
  border-radius: 5px;
  padding: 0 !important;
  border: none;
  margin-top: -19px;
  background: #21c0b0;
}
.service__category {
  padding: 25px 20px;
  box-shadow: 0 1px 30px 0 rgba(32, 32, 32, 0.11);
  border-radius: 10px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.service__category h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 20px;
}
.service__category li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 12px 0;
  color: #081828;
  font-weight: 400;
  border-radius: 0;
  position: relative;
  padding-right: 40px;
  font-size: 1.125rem;
  border-bottom: 1px solid #eee;
}
.service__category li a img {
  transition: all 0.3s ease-in-out;
}
.service__category li a:hover img {
  transform: translateX(10px);
}
.service__category li:last-child a {
  border-bottom: 1px solid #fff;
}
.service__contact {
  padding: 25px 20px;
  box-shadow: 0 1px 30px 0 rgba(32, 32, 32, 0.11);
  border-radius: 10px;
  margin-bottom: 30px;
}
.service__contact h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 20px;
}
.service__contact li {
  font-size: 1.125rem;
  position: relative;
  display: flex;
  margin-bottom: 25px;
  align-items: center;
}
.service__contact li .icon {
  width: 34px;
  height: 30px;
  filter: invert(75%) sepia(40%) saturate(6588%) hue-rotate(131deg) brightness(103%) contrast(74%);
}
.service__contact li p {
  padding-left: 30px;
  overflow-wrap: anywhere;
}
.service__contact li p,
.service__contact li a {
  color: #000000ab;
}
.service__neurology {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service__neurology img {
  border-radius: 10px;
  margin-bottom: 40px;
}
.service__neurology h2 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
}
.service__neurology p {
  font-size: 1.125rem;
  display: block;
  margin: 20px 0;
  line-height: 24px;
  color: #000000ab;
}
.service__neurology ul {
  margin: 25px 0 !important;
}
.service__neurology ul li {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 15px;
  line-height: 24px;
  color: #000000ab;
}
.service__neurology ul li .icon {
  width: 30px;
  height: 30px;
  filter: invert(34%) sepia(94%) saturate(1827%) hue-rotate(205deg) brightness(90%) contrast(91%);
}
.service__neurology ul li p {
  margin: 0;
  padding-left: 30px;
}
.service__neurology blockquote {
  background-color: #4377cb;
  position: relative;
  color: #fff;
  font-weight: 400;
  clear: both;
  z-index: 1;
  margin: 40px 0;
  text-align: left;
  padding: 40px;
  border-radius: 5px;
}
.service__neurology blockquote h4 {
  color: #fff;
  font-weight: 700;
}
.service__neurology blockquote span {
  margin-top: 20px;
}

.doctors__home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/covid2.jpg);
  height: 400px;
  width: 100%;
  background-size: cover;
  border-radius: 0 0 50px 50px;
  position: relative;
}
.doctors__home::before {
  background-color: #4377cb;
  opacity: 0.8;
  border-radius: 0 0 50px 50px;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 400px;
  content: "";
}
.doctors__home .container-home .home-title,
.doctors__home .container-home .home-text {
  color: #ffffff;
  text-align: center;
  position: relative;
}
.doctors__home .container-home .home-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.doctors__home .container-home .home-text {
  font-size: 1.125rem;
  font-weight: 400;
}
.doctors__body {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.doctors__body-title {
  text-align: center;
  margin-bottom: 100px;
  position: relative;
  z-index: 5;
}
.doctors__body-title h3 {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #dddddd;
  z-index: -1;
  opacity: 1;
  opacity: 0.4;
}
.doctors__body-title h2 {
  margin: auto;
  font-size: 2.5rem;
  margin-bottom: 20px;
  line-height: 48px;
  text-transform: capitalize;
  position: relative;
  font-weight: 700;
  padding-bottom: 20px;
  max-width: 500px;
}
.doctors__body-title h2::before {
  position: absolute;
  left: 50%;
  margin-left: -25px;
  bottom: -2px;
  height: 4px;
  width: 100px;
  border-radius: 5px;
  background: #21c0b0;
  content: "";
}
.doctors__body-title p {
  margin: auto;
  max-width: 500px;
  color: #888;
  line-height: 26px;
  font-size: 0.938rem;
}
.doctors__body-container .single-doctor {
  margin-top: 30px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.doctors__body-container .single-doctor:hover .social {
  bottom: 0 !important;
}
.doctors__body-container .single-doctor .image {
  text-align: center;
  position: relative;
  overflow: hidden;
}
.doctors__body-container .single-doctor .image img {
  width: 100%;
  vertical-align: middle;
}
.doctors__body-container .single-doctor .image .social {
  background-color: #4377cb;
  padding: 15px 10px;
  position: absolute;
  bottom: -100px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.doctors__body-container .single-doctor .image .social a {
  text-align: center;
  font-size: 15px;
  color: #fff;
  display: flex;
  align-items: center;
}
.doctors__body-container .single-doctor .image .social a p {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(223deg) brightness(107%) contrast(105%);
}
.doctors__body-container .single-doctor .content {
  text-align: center;
  background-color: #f9f9f9;
  padding: 30px 20px;
  border: 1px solid #eee;
  border-top-color: transparent;
}
.doctors__body-container .single-doctor .content h5 {
  font-weight: 400;
  font-size: 13px;
  display: block;
  color: #21c0b0;
  margin-bottom: -4px;
}
.doctors__body-container .single-doctor .content h3 {
  font-size: 30px;
}
.doctors__body-container .single-doctor .content h3 a {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.doctor-details {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.doctor-details p {
  margin: 0;
  padding: 0;
  font-size: 0.938rem;
  line-height: 26px;
}
.doctor-details__home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/covid3.jpg);
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  border-radius: 0 0 50px 50px;
  position: relative;
}
.doctor-details__home::before {
  background-color: #4377cb;
  opacity: 0.8;
  border-radius: 0 0 50px 50px;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 400px;
  content: "";
}
.doctor-details__home .container-home .home-title,
.doctor-details__home .container-home .home-text {
  color: #ffffff;
  text-align: center;
  position: relative;
}
.doctor-details__home .container-home .home-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.doctor-details__home .container-home .home-text {
  font-size: 1.125rem;
  font-weight: 400;
}
.doctor-details .image {
  margin-bottom: 30px;
}
.doctor-details .image img {
  width: 100%;
  border-radius: 10px;
}
.doctor-details .single-bar {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #eee;
}
.doctor-details .single-bar h4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #081828;
}
.doctor-details .single-bar .list {
  margin-top: 20px;
}
.doctor-details .single-bar .list li {
  display: block;
  margin-top: 12px;
}
.doctor-details .single-bar .list li a {
  color: #888;
}
.doctor-details .single-bar .opening-hour {
  margin-top: 20px !important;
}
.doctor-details .single-bar .opening-hour li {
  overflow: hidden;
  color: #888;
  margin-bottom: 13px;
}
.doctor-details .single-bar .opening-hour li .day {
  float: left;
  display: flex;
  align-items: center;
}
.doctor-details .single-bar .opening-hour li .day p {
  margin-right: 10px;
  filter: invert(62%) sepia(0%) saturate(97%) hue-rotate(237deg) brightness(87%) contrast(84%);
}
.doctor-details .single-bar .opening-hour li .time {
  float: right;
}
.doctor-details .content {
  padding-left: 40px;
}
.doctor-details .content .name {
  font-size: 1.5rem;
  font-weight: 600;
}
.doctor-details .content .name span {
  font-weight: 400;
  font-size: 15px;
  color: #888;
  display: block;
  margin-top: 5px;
}
.doctor-details .content .list-info {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.doctor-details .content .list-info li {
  display: block;
  margin-bottom: 10px;
}
.doctor-details .content .list-info li span {
  min-width: 100px;
  display: inline-block;
  color: #21c0b0;
}
.doctor-details .content .list-info .social a {
  margin-right: 12px;
}
.doctor-details .content h4 {
  font-size: 1.5rem;
  color: #081828;
  display: block;
  margin-bottom: 20px;
  font-weight: 400;
}
.doctor-details .content .content-text {
  margin: 20px 0 25px;
}
.doctor-details .content .normal-list-info {
  margin-bottom: 30px;
}
.doctor-details .content .normal-list-info li {
  display: block;
  margin-bottom: 12px;
  position: relative;
  padding-left: 25px;
}
.doctor-details .content .normal-list-info li::before {
  position: absolute;
  content: "";
  left: 0;
  top: 9px;
  height: 3px;
  width: 10px;
  background-color: #21c0b0;
}

/*# sourceMappingURL=style.css.map */
