@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");
.slide-in-right {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: slide-in-right;
  -moz-animation-delay: 0;
  -moz-animation-duration: 1s;
  -moz-animation-name: slide-in-right;
  animation-delay: 0;
  animation-duration: 1s;
  animation-name: slide-in-right;
}

.slide-in-left {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: slide-in-left;
  -moz-animation-delay: 0;
  -moz-animation-duration: 1s;
  -moz-animation-name: slide-in-left;
  animation-delay: 0;
  animation-duration: 1s;
  animation-name: slide-in-left;
}

.fade-in-fwd {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-name: fade-in-fwd;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.3s;
  -moz-animation-name: fade-in-fwd;
  animation-delay: 0;
  animation-duration: 0.3s;
  animation-name: fade-in-fwd;
}

.animation__img {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: slide-in-right;
  -moz-animation-delay: 0;
  -moz-animation-duration: 1s;
  -moz-animation-name: slide-in-right;
  animation-delay: 0;
  animation-duration: 1s;
  animation-name: slide-in-right;
}

.scale-in-center {
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: scale-in-center;
  -moz-animation-delay: 1s;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: scale-in-center;
  animation-delay: 1s;
  animation-duration: 0.5s;
  animation-name: scale-in-center;
}

.shadow-drop-2-center {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-name: shadow-drop-2-center;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.4s;
  -moz-animation-name: shadow-drop-2-center;
  animation-delay: 0;
  animation-duration: 0.4s;
  animation-name: shadow-drop-2-center;
}

.slide-out-left {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: slide-out-left;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: slide-out-left;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: slide-out-left;
}

.slide-out-right {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: slide-out-right;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: slide-out-right;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: slide-out-right;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}

@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}

@media only screen and (max-width: 400px) {
  .nav__logo {
    font-size: 10vw !important;
  }
  .nav__footer {
    font-size: 10vw !important;
  }
}

@media only screen and (max-width: 1208px) {
  .nav__menu-phone {
    display: none;
  }
  .register__content {
    margin: 0 !important;
  }
  .register__img {
    display: none !important;
  }
}

@media only screen and (min-width: 900px) {
  .hide-for-desktop {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .nav__menu {
    display: none;
  }
  .login__img {
    display: none !important;
  }
  .nav__btns {
    display: none;
  }
  .hide-for-desktop {
    display: block;
  }
  .header {
    position: initial !important;
  }
}

@media only screen and (max-width: 980px) {
  .section__header-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section__header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
  }
  .section__header-btns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section__header-btn:nth-child(1) {
    margin-right: 5px;
  }
}

@media (max-width: 711px) {
  .section__header-content-img {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .login-header {
    position: relative;
    background-color: #fff;
  }
  .login {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 576px) {
  .container-sm {
    max-width: 540px;
  }
  .container {
    max-width: 540px;
  }
  .section__main-body {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)) !important;
    -ms-grid-columns: repeat(auto-fill, minmax(180px, 1fr)) !important;
  }
}

@media (min-width: 768px) {
  .container-md {
    max-width: 720px;
  }
  .container-sm {
    max-width: 720px;
  }
  .container {
    max-width: 720px;
  }
  .nav__logo {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) {
  .container-lg {
    max-width: 960px;
  }
  .container-md {
    max-width: 960px;
  }
  .container-sm {
    max-width: 960px;
  }
  .container {
    max-width: 960px;
  }
  .section__associated-body {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .section__main-body {
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr)) !important;
    -ms-grid-columns: repeat(auto-fill, minmax(225px, 1fr)) !important;
  }
}

@media (min-width: 1200px) {
  .container-xl {
    max-width: 1140px;
  }
  .container-lg {
    max-width: 1140px;
  }
  .container-md {
    max-width: 1140px;
  }
  .container-sm {
    max-width: 1140px;
  }
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container-xxl {
    max-width: 1320px;
  }
  .container-xl {
    max-width: 1320px;
  }
  .container-lg {
    max-width: 1320px;
  }
  .container-md {
    max-width: 1320px;
  }
  .container-sm {
    max-width: 1320px;
  }
  .container {
    max-width: 1320px;
  }
  .section__main-body {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr)) !important;
    -ms-grid-columns: repeat(auto-fill, minmax(270px, 1fr)) !important;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Titillium Web", sans-serif;
  font-size: 0.938rem;
  background-color: #fbfcfe;
  color: #000;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #2156aa;
}

h1 {
  color: #232629;
  font-weight: 500;
}

h2 {
  color: #232629;
  font-weight: 500;
}

h3 {
  color: #232629;
  font-weight: 500;
}

h4 {
  color: #232629;
  font-weight: 500;
}

ul {
  list-style: none;
  margin: 0 !important;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-d_c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-jc_sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc_c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai_c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-ai_fs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sticky {
  position: fixed;
  position: -webkit-fixed;
  top: 0;
  z-index: 100;
}

.txt-uppercase {
  text-transform: uppercase;
}

.txt-capitalize {
  text-transform: capitalize;
}

.display-none {
  display: none;
}

.display-default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn--primary {
  background-color: #fff;
  color: #21c0b0;
  border: 1px solid #21c0b0;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn--primary:hover {
  background-color: #43cbbe;
  color: #fff;
}

.btn--secondary {
  background-color: #21c0b0;
  color: #fff;
  border: 1px solid #21c0b0;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn--secondary:hover {
  background-color: #43cbbe;
  color: #fff;
}

.header {
  position: relative;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
}

.nav {
  position: relative;
  height: 80px;
  margin: auto;
}

.nav__logo {
  margin-right: 10px;
  font-size: 2.5rem;
  font-weight: 700;
  white-space: nowrap;
  font-family: "Dosis", sans-serif;
  z-index: 10;
}

.nav__logo a {
  color: #232629;
}

strong {
  color: #2c70dd;
}

.nav__menu-content {
  z-index: 10;
}

.nav__menu {
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
}

.nav__link {
  color: #232629;
  white-space: nowrap;
}

.nav__list .nav__link::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #2c70dd;
  display: block;
  margin: auto;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.nav__list .nav__link:hover::after {
  width: 100%;
}

.nav__list .active::after {
  width: 100%;
}

.nav__item {
  margin: 0 15px;
  font-weight: 500;
  font-size: 1.25rem;
}

.nav__btn {
  margin: 0 15px;
  font-weight: 500;
  font-size: 1.25rem;
  text-transform: capitalize;
  padding: 4px 20px;
  border-radius: 10px;
  white-space: nowrap;
}

.nav__menu-phone {
  margin: 0 15px;
  font-weight: 500;
  font-size: 1.25rem;
}

.uil-phone {
  margin-right: 5px;
}

.nav__burger {
  cursor: pointer;
}

.nav__burger span {
  display: block;
  width: 26px;
  height: 3px;
  background-color: #2c70dd;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.nav__burger span:not(:last-child) {
  margin-bottom: 5px;
}

.section__header-container {
  background-color: #2c70dd;
  border-radius: 0 0 50px 50px;
  margin: auto;
  max-height: 100%;
}

.section__header-content {
  width: 100%;
  margin: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.section__header-content p {
  font-size: 1.25rem;
  color: #fff;
}

.section__header-title {
  font-size: 2.5rem;
  font-weight: 500;
  color: #fff;
}

.section__header-btns {
  margin: 25px 0;
  font-weight: 500;
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.section__header-btn {
  text-transform: capitalize;
  padding: 4px 20px;
  margin: 6px 0;
  border-radius: 10px;
  white-space: nowrap;
}

.section__header-btn:nth-child(1) {
  margin-right: 30px;
}

.section__header-content-img {
  width: 100%;
}

.section__header-content-img div {
  padding: 40px;
  height: 450px;
  position: absolute;
  border-radius: 0 0 50px 50px;
  background-color: rgba(182, 209, 252, 0.44);
}

.section__header-content_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}

.section__associated-header h2 {
  margin: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  width: 250px;
}

.associated-header-img {
  width: 60px;
}

.section__associated {
  margin-top: 40px;
  width: 100%;
}

.section__associated-body {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.associated-img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 70px;
  display: inline-block;
  margin: 20px;
}

.section__main-header {
  margin: 50px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section__main-title {
  margin-right: 40px;
  font-size: 2.5rem;
  font-weight: 700;
}

.section__main-subtitle {
  margin: 10px;
  width: 824px;
  font-size: 1.125rem;
  font-weight: 400;
}

.section__main-body {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  -ms-grid-columns: repeat(auto-fill, minmax(160px, 1fr));
  justify-items: center;
  text-align: center;
}

.section__main-card {
  padding: 40px 0;
}

.section__main-card-title {
  font-size: 1.5rem;
  margin: 8px;
}

.section__main-card-text {
  font-size: 0.938rem;
  margin: 8px;
}

.section__main-btn {
  margin: 8px;
}

.section__main-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.938rem;
  color: #21c0b0;
}

.section__main-btn a:hover img {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.section__main-btn a img {
  height: 0.813rem;
  padding-left: 5px;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.section__main-footer {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 40px;
  background-color: #2c70dd;
}

.section__main-footer-img {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  padding: 20px;
}

.section__main-footer-img .img {
  height: 150px;
  width: 150px;
}

.section__main-footer-text {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 999;
      -ms-flex-positive: 999;
          flex-grow: 999;
  min-width: 268px;
  padding: 20px;
}

.section__main-footer-text p {
  max-width: 600px;
  margin: auto;
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
}

.section__main-footer-btn {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  padding: 20px;
  white-space: nowrap;
}

.section__main-footer-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  border-radius: 20px;
  padding: 25px 44px;
  color: #2c70dd;
  background-color: #fff;
  font-weight: 500;
}

.footer {
  margin: auto;
  position: relative;
  width: 100%;
  height: 100%;
}

.footer-img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  -webkit-transform: scale(-1);
          transform: scale(-1);
  background-image: url(../img/img-footer-background.jpg);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__link {
  color: #000;
}

.footer__social {
  color: #6a717c;
}

.footer__social .uil {
  color: #232629;
}

.footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__header-text {
  margin: 20px 0;
  font-size: 1.125rem;
}

.footer__header-information a {
  margin: 10px 0;
  display: block;
  font-size: 1.125rem;
}

.footer__header-social {
  margin: 20px 0;
}

.footer__header-social a {
  font-size: 2rem;
}

.footer__header-social a:nth-child(2) {
  margin: 0 10px;
}

.footer__header-social a:nth-child(3) {
  margin: 0 10px;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__main-links {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-title {
  color: #232629;
  width: 123px;
  height: 50px;
  font-size: 1.5rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__main-item {
  font-size: 1.125rem;
  margin: 10px 0;
}

.footer__footer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer__footer form input {
  height: 40px;
  border-radius: 50px 0 0 50px;
  padding: 1rem;
  background-color: #fff;
  border: 1px #2c70dd solid;
}

.footer__footer-text {
  font-size: 1.125rem;
  margin: 20px 0;
  width: 100%;
  max-width: 400px;
}

.footer__footer-input {
  width: 100%;
  max-width: 400px;
  border: none;
  outline: none;
  font-size: 1.125rem;
}

.footer__footer-btn {
  cursor: pointer;
  padding-left: 5px;
  border-radius: 0 50px 50px 0;
  font-size: 2rem;
  margin: 0;
  border: none;
  background-color: #2c70dd;
}

.footer__footer-btn i::before {
  color: #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.login-header {
  position: absolute;
  background-color: rgba(255, 222, 173, 0);
}

.login {
  height: 100vh;
  min-height: 750px;
}

.login-form {
  width: 100%;
  max-width: 450px;
}

.login__title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.login__subtitle {
  font-size: 1.25rem;
  font-weight: 400;
}

.login__form {
  margin: 20px 0;
}

.login__label {
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
}

.login__input {
  width: 100%;
  font-size: 1.125rem;
  border-radius: 50px;
  padding: 8px 15px;
  background-color: #fbfcfe;
  border: 1px solid #707070;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.login__checkbox {
  margin-bottom: 30px;
}

.position-relative {
  margin-bottom: 30px;
}

.login__options {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5px 0;
}

.container-text {
  position: relative;
  padding-left: 35px;
  font-size: 1.125rem;
  margin-bottom: 15px;
}

.container-text input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid #707070;
  border-radius: 15px;
  cursor: pointer;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 4px;
  width: 7px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

input:checked ~ .checkmark {
  background-color: #2196f3;
  border: none;
}

input:checked ~ .checkmark:after {
  display: block;
}

.login__forgopassword {
  margin-bottom: 15px;
  font-size: 1.125rem;
  color: #2c70dd;
  -webkit-text-decoration: #2c70dd;
          text-decoration: #2c70dd;
}

.login__img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50px 0 0 50px;
  background-image: url(../img/young-doctor.jpg);
}

.icon-google {
  background-image: url(../img/icon-google.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.login__button {
  display: block;
  margin: 0 0 20px;
  height: 50px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.125rem;
  border: none;
  cursor: pointer;
}

.btn--google {
  background-color: #fff;
  border: 1px solid #707070;
}

.login__link {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.login__link a {
  color: #2c70dd;
  margin-left: 10px;
}

.login__card {
  max-width: 640px;
  opacity: 90%;
  bottom: 0;
  background-color: #2c70dd;
  border-radius: 40px;
  border: 1px solid #fff;
  position: absolute;
  margin: 50px;
}

.login__comments {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
  font-size: 1.25rem;
  font-weight: 500;
  color: #fff;
}

.login__card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.login__user {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.login__user h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

.login__user h3 {
  font-size: 1.125rem;
  font-weight: 500;
  color: #fff;
}

.login__user p {
  font-size: 0.75rem;
  font-weight: 400;
  color: #fff;
}

.login__card-options {
  margin-top: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.login__arrows {
  margin-right: 8px;
}

.arrow-circle-left {
  margin-top: 10px;
  margin-right: 1.5rem;
  height: 2rem;
  cursor: pointer;
}

.arrow-circle-right {
  height: 2rem;
  cursor: pointer;
}

.register {
  min-height: 750px;
}

.forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.register__content {
  margin: 0 50px;
}

.switch-button {
  margin: 80px auto auto;
  max-width: 400px;
  height: 40px;
  border-radius: 50px;
  text-align: center;
  will-change: transform;
  z-index: 197 !important;
  cursor: pointer;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  background-color: #ddf1ee;
  border: 1px solid #ddf1ee;
}

.switch-button .active {
  color: #fff;
  background-color: #20bead;
  border-radius: 50px;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
  -webkit-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
}

.switch-button .active-case {
  color: #fff;
}

.switch-button-case {
  display: inline-block;
  background: none;
  width: 49%;
  height: 100%;
  color: #000;
  position: relative;
  border: none;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  text-transform: capitalize;
  font-size: 1.125rem;
  font-weight: 700;
  padding-bottom: 1px;
}

.switch-button-case:hover {
  color: grey;
  cursor: pointer;
}

.switch-button-case:focus {
  outline: none;
}

.right {
  color: #000;
}

.register__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 15px 15px 0;
  padding-left: 12px;
}

.register__text h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.register__text p {
  font-size: 1.25rem;
  font-weight: 500;
  color: #6a717c;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  height: 74px;
  width: 150px;
  position: relative;
  bottom: -41px;
  font-size: 1.25em;
  margin-bottom: 30px;
  font-weight: 700;
  color: #232629;
  display: inline-block;
  background-image: url(../img/chooseFile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.label-text {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  position: relative;
  top: -41px;
  right: 14px;
  margin: 0px;
}

.register__form {
  margin: 0 12px 0px;
}

.register__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
  margin: 40px auto auto;
}

.register__member {
  text-align: center;
}

.register__img {
  width: 50%;
  height: 100vh;
  min-height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50px 0 0 50px;
  background-image: url(../img/young-doctor.jpeg);
  -webkit-transform: translateZ(50px);
  transform: translateZ(50px);
  -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
}

.textarea {
  border-radius: 50px;
  resize: none;
  padding: 8px 15px;
}

.container {
  width: 100%;
  padding-right: 1rem, 0.75rem;
  padding-left: 1rem, 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  padding-right: 1rem, 0.75rem;
  padding-left: 1rem, 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.container-xxl {
  width: 100%;
  padding-right: 1rem, 0.75rem;
  padding-left: 1rem, 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.container-xl {
  width: 100%;
  padding-right: 1rem, 0.75rem;
  padding-left: 1rem, 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.container-lg {
  width: 100%;
  padding-right: 1rem, 0.75rem;
  padding-left: 1rem, 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.container-md {
  width: 100%;
  padding-right: 1rem, 0.75rem;
  padding-left: 1rem, 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.container-sm {
  width: 100%;
  padding-right: 1rem, 0.75rem;
  padding-left: 1rem, 0.75rem;
  margin-right: auto;
  margin-left: auto;
}
/*# sourceMappingURL=style.css.map */